#home {
  height: 100vh;
  width: 100%;
}
#home .home-container {
  height: inherit;
  min-height: 600px;
  width: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  gap: 40px;
  padding-top: 40px;
}
@media screen and (orientation: landscape) and (max-height: 500px) {
  #home .home-container {
    min-height: 0;
    padding-top: 20px;
    gap: 10px;
  }
}
#home header .circle {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background: linear-gradient(to right, #1a8cfe, deeppink);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: turn 1000ms linear infinite;
}
#home header .circle::after {
  content: "";
  position: absolute;
  height: 90%;
  width: 90%;
  border-radius: 50%;
  background-color: #1e1e1e;
}
#home header .circle span {
  height: 100%;
  width: 100%;
  position: absolute;
  background: linear-gradient(to right, #1a8cfe, deeppink);
  border-radius: 50%;
  filter: blur(5px);
}
#home header .circle span:nth-child(2) {
  filter: blur(10px);
}
#home header .circle span:nth-child(3) {
  filter: blur(15px);
}
#home header .circle span:nth-child(4) {
  filter: blur(20px);
}
@media screen and (min-width: 768px) {
  #home header .circle {
    height: 250px;
    width: 250px;
  }
}
@media screen and (min-width: 768px) and (orientation: portrait) {
  #home header .circle {
    height: 350px;
    width: 350px;
  }
}
@media screen and (min-width: 1024px) {
  #home header .circle {
    height: 280px;
    width: 280px;
  }
}
@media screen and (min-width: 1024px) and (orientation: portrait) {
  #home header .circle {
    height: 450px;
    width: 450px;
  }
}
@media screen and (min-width: 1400px) {
  #home header .circle {
    height: 360px;
    width: 360px;
  }
}
@media screen and (orientation: landscape) and (max-height: 400px) {
  #home header .circle {
    height: 150px;
    width: 150px;
    gap: 20px;
  }
}
@keyframes turn {
  to {
    transform: rotate(360deg);
  }
}
#home .title {
  width: 100%;
  max-width: 1000px;
  height: min-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  justify-content: center;
  font-family: "hemihead";
  z-index: 55;
}
@media screen and (min-width: 1024px) {
  #home .title {
    width: 80%;
  }
}
#home .title .title__intro {
  font-size: 0.9rem;
  font-family: "Courier New";
  font-weight: bolder;
  color: #1a8cfe;
}
@media screen and (min-width: 768px) {
  #home .title .title__intro {
    font-size: 1.5rem;
  }
}
#home .title .title__upper,
#home .title .title__lower {
  font-size: 2rem;
  white-space: nowrap;
  transition: transform 500ms;
}
@media screen and (min-width: 768px) {
  #home .title .title__upper,
#home .title .title__lower {
    font-size: 4rem;
  }
}
@keyframes translationL {
  to {
    transform: translateX(110%);
  }
}
@keyframes translationR {
  to {
    transform: translateX(-110%);
  }
}
@media screen and (min-width: 1024px) {
  #home .title .title__lower {
    align-self: flex-end;
  }
}
#home .title .line {
  height: 1px;
  width: 100%;
  background: #1a8cfe;
}
#home .arrow-container .arrow {
  font-family: "Courier New", Courier, monospace;
  font-weight: light;
  font-size: 3rem;
  color: #fefefe;
  opacity: 0;
}
@media screen and (min-width: 1300px) {
  #home .arrow-container .arrow {
    font-size: 4.5rem;
  }
}

/*# sourceMappingURL=home.css.map */
