nav {
  position: fixed;
  top: 0;
  height: 30px;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
  transition: background-color 0.2s;
}
nav .brand {
  font-family: hemihead;
  font-size: 0.8rem;
  color: white;
  opacity: 0;
  transform: translateY(150%);
  transition: transform 200ms;
}
@media screen and (min-width: 700px) {
  nav .brand {
    font-size: 1rem;
  }
}
nav .nav__menu {
  display: none;
}
@media screen and (min-width: 700px) {
  nav .nav__menu {
    list-style-type: none;
    width: 300px;
    font-size: 1rem;
    font-family: "Courier new";
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
nav .nav__menu a {
  text-decoration: none;
  color: #fefefe;
}
nav .fa-bars {
  position: absolute;
  top: -1px;
  right: 10px;
  font-size: 2rem;
  opacity: 0;
}
@media screen and (min-width: 700px) {
  nav .fa-bars {
    display: none;
  }
}

.hamburger__content {
  transform: translateX(100%);
  z-index: -100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  width: 100vw;
  position: fixed;
  color: #fefefe;
  top: 0;
  right: 0;
  background-color: #2e2d2d;
  background-color: #1e1e1e;
  transition: transform 0.3s;
}
.hamburger__content .fa-times {
  font-size: 2rem;
  position: absolute;
  top: 5px;
  right: 10px;
  color: #fefefe;
  z-index: 100;
}
.hamburger__content .sky-placeholder {
  background: linear-gradient(to bottom, deepskyblue, #2e2d2d);
  background: #1e1e1e;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 80;
  height: 30vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hamburger__content .sky-placeholder .circle {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: linear-gradient(to right, #1a8cfe, deeppink);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hamburger__content .sky-placeholder .circle::after {
  content: "";
  position: absolute;
  height: 90%;
  width: 90%;
  border-radius: 50%;
  background-color: #1e1e1e;
}
.hamburger__content .hamburger__content--menu {
  height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  top: 25%;
}
.hamburger__content a {
  color: #fefefe;
}
.hamburger__content .hamburger__content--title {
  font-family: hemihead;
  font-size: 2.25rem;
}
.hamburger__content .hamburger__content--links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 30%;
  width: 60%;
  font-family: menlo;
  font-size: 1rem;
  line-height: 1.25rem;
}
.hamburger__content .hamburger__content--links a {
  border-bottom: 1px solid #1a8cfe;
}
.hamburger__content .hamburger__content--socialicons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 20%;
  font-family: "courier new";
  font-size: 1rem;
  padding-top: 3vh;
}
.hamburger__content .social__icons--container {
  width: 100vw;
  font-family: play;
  font-size: 1rem;
  display: flex;
  justify-content: space-evenly;
  padding-top: 3.25vh;
}
.hamburger__content .social__icons--container i {
  font-size: 2.5rem;
}
@media screen and (min-width: 700px) {
  .hamburger__content {
    display: none;
  }
}

/*# sourceMappingURL=navbar.css.map */
