#projects {
  width: 100%;
  padding-bottom: 30px;
}
#projects .projects-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  list-style-type: none;
  position: relative;
  padding-top: 30px;
}
@media screen and (min-width: 768px) {
  #projects .projects-wrapper {
    padding-top: 60px;
  }
}
#projects .projects-wrapper .project {
  height: 210px;
  width: 100%;
  color: #fefefe;
  background-color: #d4d4d4;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  transition: all 200ms;
  position: relative;
}
@media screen and (min-width: 768px) {
  #projects .projects-wrapper .project {
    height: 220px;
    width: 100%;
    max-width: 1000px;
    color: #1e1e1e;
    padding-left: 1vw;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  #projects .projects-wrapper .project:hover .thumbnail:after {
    opacity: 0;
  }
}
#projects .projects-wrapper .project .fa-expand-alt {
  display: none;
  position: absolute;
  right: 1.5vw;
  top: 2vh;
  font-size: 1.5rem;
  color: #fefefe;
  transition: transform 200ms;
  z-index: 5;
}
#projects .projects-wrapper .project .fa-expand-alt:hover {
  cursor: pointer;
  transform: scale(1.1);
}
@media screen and (min-width: 768px) {
  #projects .projects-wrapper .project .fa-expand-alt {
    color: #333333;
  }
}
#projects .projects-wrapper .project .thumbnail {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  object-fit: cover;
  z-index: 3;
}
@media screen and (min-width: 768px) {
  #projects .projects-wrapper .project .thumbnail {
    height: 190px;
    width: 320px;
    position: relative;
    filter: none;
  }
}
#projects .projects-wrapper .project .thumbnail img {
  height: 100%;
  object-fit: cover;
}
@media screen and (min-width: 768px) {
  #projects .projects-wrapper .project .thumbnail img {
    height: 190px;
    width: 310px;
  }
}
#projects .projects-wrapper .project .pitch-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: #d4d4d4;
  font-weight: bold;
  z-index: 4;
}
@media screen and (min-width: 768px) {
  #projects .projects-wrapper .project .pitch-container {
    position: relative;
    display: flex;
    color: #1e1e1e;
    font-weight: normal;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 0 20px 20px 20px;
  }
}
#projects .projects-wrapper .project .pitch-container .project-title {
  font-family: "hemihead";
  white-space: nowrap;
  background-color: black;
}
@media screen and (min-width: 768px) {
  #projects .projects-wrapper .project .pitch-container .project-title {
    font-size: 1.5rem;
    background-color: transparent;
  }
}
@media screen and (min-width: 1400px) {
  #projects .projects-wrapper .project .pitch-container .project-title {
    font-size: 1.6rem;
    background-color: transparent;
  }
}
#projects .projects-wrapper .project .pitch-container .pitch {
  font-family: play;
  font-size: 1rem;
  background-color: black;
}
@media screen and (min-width: 768px) {
  #projects .projects-wrapper .project .pitch-container .pitch {
    background-color: transparent;
  }
}
@media screen and (min-width: 1400px) {
  #projects .projects-wrapper .project .pitch-container .pitch {
    font-size: 1.1rem;
    background-color: transparent;
  }
}
#projects .projects-wrapper .project .pitch-container .technologies {
  font-family: "courier new", sans-serif;
  font-weight: normal;
  background-color: black;
}
@media screen and (min-width: 768px) {
  #projects .projects-wrapper .project .pitch-container .technologies {
    background-color: transparent;
  }
}
#projects .projects-wrapper .project .project-links {
  width: 110px;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 0 10px 10px;
  z-index: 50;
}
@media screen and (min-width: 768px) {
  #projects .projects-wrapper .project .project-links {
    left: auto;
    right: 0;
    padding: 0 20px 10px 10px;
  }
}
#projects .projects-wrapper .project .project-links a {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fefefe;
}
#projects .projects-wrapper .project .project-links a:hover {
  cursor: pointer;
  background-color: transparent;
}
#projects .projects-wrapper .project .project-links a i {
  font-size: 2rem;
}
#projects .projects-wrapper .project .project-links a .project-live,
#projects .projects-wrapper .project .project-links a .project-github {
  font-size: 0.9rem;
  align-self: center;
  text-decoration: underline;
}
#projects .projects-wrapper .project .project-links a .inactive {
  color: gray;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  #projects .projects-wrapper .project a :nth-child(1),
#projects .projects-wrapper .project span {
    color: red;
  }
  #projects .projects-wrapper .project:nth-child(2) .project-links a {
    color: deeppink;
  }
  #projects .projects-wrapper .project:nth-child(3) .project-links a {
    color: deepskyblue;
  }
  #projects .projects-wrapper .project:nth-child(4) .project-links a {
    color: #fb4768da;
  }
  #projects .projects-wrapper .project:nth-child(5) .project-links a {
    color: #1e1e1e;
  }
}
#projects .projects-wrapper .project .clone {
  position: absolute;
  z-index: 5000;
}

/*# sourceMappingURL=projects.css.map */
