#stack {
  height: 55vh;
  width: 100%;
  font-family: play;
  font-size: 0.8rem;
  line-height: 1.2rem;
  letter-spacing: 1px;
  color: #d4d4d4;
}
@media screen and (min-width: 768px) {
  #stack {
    min-height: 450px;
    font-size: 1rem;
  }
}
@media screen and (min-width: 1400px) {
  #stack {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
}
#stack .stack-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
  justify-content: space-evenly;
}
#stack .stack-container ul {
  width: 100%;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #fefefe;
}
@media screen and (min-width: 768px) {
  #stack .stack-container ul {
    justify-content: space-around;
  }
}
#stack .stack-container .stacklist-wrapper {
  width: 100%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  #stack .stack-container .stacklist-wrapper {
    justify-content: flex-start;
    gap: 30px;
  }
}
@media screen and (min-width: 1024px) {
  #stack .stack-container .stacklist-wrapper {
    justify-content: flex-start;
    gap: 30px;
  }
}
#stack .stack-container .stacklist-wrapper p {
  width: 100%;
  min-height: 120px;
  text-align: left;
}
@media screen and (min-width: 768px) {
  #stack .stack-container .stacklist-wrapper p {
    width: 70%;
  }
}
#stack .stack-container .tabs__container {
  width: 100%;
  position: relative;
  border-bottom: 1px solid #333333;
}
@media screen and (min-width: 768px) {
  #stack .stack-container .tabs__container {
    width: 70%;
  }
}
#stack .stack-container .tabs__container .tabs__line {
  position: absolute;
  bottom: -1.5px;
  left: 0;
  background-color: #d4d4d4;
  height: 2px;
  width: calc(100% / 3);
  transition: left 0.4s;
}
#stack .stack-container .tabs__container .tabs__ul {
  width: 100%;
  font-size: 0.9rem;
}
#stack .stack-container .tabs__container .tabs__ul .tab {
  width: calc(100% / 3);
  padding: 5px 2px;
  color: #d4d4d4;
  text-align: center;
}
@media screen and (min-width: 768px) {
  #stack .stack-container .tabs__container .tabs__ul .tab {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 1300px) {
  #stack .stack-container .tabs__container .tabs__ul .tab {
    font-size: 1.2rem;
  }
}
#stack .stack-container .tabs__container .tabs__ul .tab:hover {
  cursor: pointer;
}
#stack .stack-container .tab.active {
  width: calc(100% / 3);
  color: #1a8cfe;
}
#stack .stack-container .tab__content.active {
  display: flex;
}
#stack .stack__left,
#stack .stack__middle,
#stack .stack__right {
  height: 50px;
  width: min-content;
  max-width: 500px;
  justify-content: center;
}
#stack .stack__left li i {
  font-size: 1.5rem;
}
@media screen and (min-width: 768px) {
  #stack .stack__left li i {
    font-size: 2.2rem;
  }
}
#stack .stack__left:hover::before {
  background-color: gray;
}
#stack .stack__left:hover i {
  background-color: transparent;
}
#stack .stack__left:hover li:nth-child(1) i {
  color: #e44d26;
}
#stack .stack__left:hover li:nth-child(2) i {
  color: #cd6799;
}
#stack .stack__left:hover li:nth-child(3) i {
  color: #ffff00;
}
#stack .stack__left:hover li:nth-child(4) i {
  color: #61dbfb;
}
#stack .stack__left:hover li:nth-child(5) i {
  color: #3c873a;
}
#stack .stack__left:hover li:nth-child(6) i {
  color: lightgrey;
}
#stack .stack__middle #vscode {
  fill: #0078d7;
}
#stack .stack__middle #webpack {
  fill: #8ed6fb;
}

/*# sourceMappingURL=stack.css.map */
