////////////////////////////////////////////////////////
//                        FONTS
///////////////////////////////////////////////////////

@font-face {
  font-family: "courier-new";
  src: url("../fonts/cour.ttf");
}
@font-face {
  font-family: "hemihead";
  src: url("../fonts/hemihead.ttf");
}
@font-face {
  font-family: "menlo";
  src: url("../fonts/Menlo-Regular.woff");
}

@font-face {
  font-family: "play";
  src: url("../fonts/Play-Regular.ttf");
}
@font-face {
  font-family: "proto";
  src: url("../fonts/Prototype.ttf");
}
@font-face {
  font-family: "monaco";
  src: url("../fonts/Mocano.woff");
}
/////////////////////////////////////////////////////
//                    VARIABLES
////////////////////////////////////////////////////

$editor-background: #1e1e1e;
$white-primary: #fefefe;
$blue-primary: #007acc;
$blue-navbar: #0037ad;
$tomato-primary: #f48771;
$grey-primary: #3e3e42;
$editor-foreground: #d4d4d4;
$font-primary: "hemihead";
$navbar-height: 40px;
$banner-height: 30vh;
$border-radius: 5px;
$intro-height: calc(100vh - #{$navbar-height});
// $intro-height: 110vh;
$title-height: 20%;
// $about-height: 40%;
// $stack-height: 40%;
$projects-height: calc(200px * 5);
$more-height: calc(150px + 56px);
$footer-height: 40px;
$contact-height: calc(100vh - #{$navbar-height} - #{$footer-height});

@mixin hamburger {
  position: absolute;
  top: 0;
  right: 5px;
  fill: $white-primary;
  // border: 1px solid red;
  @media screen and (min-width: 700px) {
    display: none;
  }
}

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin section {
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    background-color: $editor-background;
    // border: 2px solid white;
    .section-container {
      height: 100%;

      @media screen and (min-width: 700px) {
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 2.5vw;
          height: 100%;
          width: 0.5px;
          background-color: $grey-primary;
        }
        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 98%;
          height: 100%;
          width: 0.5px;
          background-color: $grey-primary;
        }
      }
    }
  }
}
/////////////////////////////////////////////////////
//                   HTML - BODY
/////////////////////////////////////////////////////

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*a {
  text-decoration: none;
}

html {
  font-size: 16px;
  height: 100%;
  overflow-x: hidden;
}

body {
  min-height: 100%;
  width: 100%;
  background-color: $editor-background;
  overflow-x: hidden;
  // border: 1px solid red;
  color: $white-primary;
  .body-container {
    @include section;
    background-color: transparent;
    position: relative;
    // border: 1px solid yellow;
    @media screen and (min-width: 1300px) {
      padding: 0 10vw;
    }
  }
}

.loader-container {
  display: none;
  height: 100vh;
  width: 100vw;
  background-color: $editor-background;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  .loader {
    height: 300px;
    width: 300px;
    border-top: 2px solid blueviolet;
    border-right: 2px solid #ad2ae90c;
    border-bottom: 2px solid #ad2ae90c;
    border-left: 2px solid blueviolet;
    border-radius: 50%;
    animation: border 1s infinite ease-in-out;
    @keyframes border {
      to {
        transform: rotate(360deg);
      }
    }
  }
}

.fullpage {
  background-color: rgba(128, 128, 128, 0.739);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  .fullpage__container {
    @include flex-column-center;
    justify-content: space-evenly;
    position: absolute;
    height: 90%;
    width: 80%;
    z-index: 1000;
    color: black;
    background-color: $white-primary;
    // border: 1px solid black;

    .img__container {
      height: 30%;
      width: 90%;
      // border: 2px solid tomato;
      // background: no-repeat center/contain;
      @media screen and (min-width: 600px) {
        height: 300px;
        width: 1000px;
        background-size: contain;
      }
      @media screen and (min-width: 1300px) {
        height: 400px;
        width: 1300px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }

      .fullpage__img {
        height: 100%;
        width: 100%;
        display: none;
      }
      .fullpage__img--active {
        display: block;
      }
    }
    .player__wrapper {
      width: 80px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 1rem;
      // border: 1px solid pink;
      @media screen and (min-width: 600px) {
        font-size: 1.5rem;
      }
      @media screen and (min-width: 1300px) {
        font-size: 2rem;
        width: 120px;
      }
    }

    .fullpage__pitch--container {
      height: 65%;
      padding: 0 10vw;
      @include flex-column-center();
      align-items: flex-start;
      justify-content: space-around;
      border-top: 1px solid rgba(0, 0, 0, 0.068);
      @media screen and (min-width: 700px) {
        height: 35%;
      }
      @media screen and (min-width: 1300px) {
        height: 25%;
      }

      h3 {
        font-family: hemihead;
        font-size: 2rem;
      }
      .fullpage__pitch {
        font-family: "courier new";
        font-size: 1rem;
      }
      .fullpage__stack {
        font-family: menlo;
        font-size: 1rem;
      }

      .fullpage__links {
        width: 12%;
        display: flex;
        justify-content: space-between;
        .fullpage__github {
          i {
            font-size: 2.5rem;
          }
        }
        i {
          font-size: 2rem;
          color: $editor-background;
        }
      }
    }
  }
  .fa-times {
    font-size: 3rem;
    color: $white-primary;
    position: absolute;
    right: -30px;
  }
}

//////////////////////////////////////////////////////
//                  NAVIGATION BAR
//////////////////////////////////////////////////////

nav {
  position: fixed;
  top: 0;
  height: 30px;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  transition: background-color 0.2s;
  // .flags-container {
  //   position: absolute;
  //   top: 0;
  //   height: 45px;
  //   width: 155px;
  //   margin-left: 2vw;
  //   padding: 1vh 0;
  //   // display: flex;
  //   flex-direction: row;
  //   justify-content: center;
  //   align-items: center;
  //   opacity: 0;
  //   display: none;
  //   @media screen and (min-width: 700px) {
  //     display: flex;
  //   }
  //   .flag {
  //     height: 20px;
  //     width: 45px;
  //     font-family: "courier", sans-serif;
  //     font-size: 1rem;
  //     font-weight: light;
  //     letter-spacing: 0.1rem;
  //     color: $white-primary;
  //     transition: all 0.6s;
  //     text-align: center;
  //     border-right: 1px solid $white-primary;
  //     &:hover {
  //       cursor: pointer;
  //       color: yellow;
  //     }
  //   }
  // }

  .brand-name {
    font-family: hemihead;
    font-size: 0.8rem;
    color: white;
    opacity: 0;
    transform: translateY(150%);
    transition: transform 200ms;
    // border: 1px solid pink;
    @media screen and (min-width: 700px) {
      font-size: 1rem;
    }
  }

  .link-wrapper {
    display: none;
    @media screen and (min-width: 700px) {
      position: absolute;
      right: 0;
      height: 100%;
      width: 170px;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      margin-right: 2vw;
      transition: transform 350ms;
      transform: translateY(1.75vh);
      // border: 1px solid white;
    }

    .link {
      height: 100%;
      width: 100%;
      @include flex-column-center;
      justify-content: center;
      opacity: 1;
      // text-decoration: none;
      // border: 1px solid pink;

      i {
        font-size: 1.25rem;
        color: $white-primary;
        transition: transform 750ms;
        // border: 1px solid white;
        &:hover {
          color: rgba(255, 255, 255, 0.5);
          cursor: pointer;
        }
      }
    }
  }
  .fa-bars {
    position: absolute;
    top: -1px;
    right: 10px;
    font-size: 2rem;
    opacity: 0;
    @media screen and (min-width: 700px) {
      display: none;
    }
    // border: 1px solid white;
  }
}

.hamburger__content {
  transform: translateX(100%);
  z-index: -100;
  @include flex-column-center;
  justify-content: space-evenly;
  height: 100vh;
  width: 100vw;
  position: fixed;
  color: $white-primary;
  top: 0;
  right: 0;
  background-color: rgb(46, 45, 45);
  background-color: $editor-background;
  transition: transform 0.3s;
  // border-left: 1px solid lime;

  .fa-times {
    // @include hamburger;
    // fill: $grey-primary;
    font-size: 2rem;
    position: absolute;
    top: 5px;
    right: 10px;
    color: $white-primary;
    z-index: 100;
  }
  .sky-placeholder {
    background: linear-gradient(to bottom, deepskyblue, rgb(46, 45, 45));
    position: absolute;
    left: 0;
    top: 0;
    z-index: 80;
    #svg-rainbow-menu {
      height: 100%;
      width: 100vw;
    }
  }

  .hamburger__content--menu {
    height: 70vh;
    width: 100%;
    @include flex-column-center();
    justify-content: space-evenly;
    position: absolute;
    top: 25%;
    // border: 1px solid red;
  }
  a {
    color: $white-primary;
  }
  .hamburger__content--title {
    font-family: hemihead;
    font-size: 2.25rem;
  }
  .hamburger__content--links {
    @include flex-column-center;
    justify-content: space-between;
    height: 30%;
    width: 60%;
    font-family: menlo;
    font-size: 1rem;
    line-height: 1.25rem;
    a {
      border-bottom: 1px solid $white-primary;
    }
  }
  .hamburger__content--socialicons {
    @include flex-column-center();
    justify-content: space-evenly;
    height: 20%;
    font-family: "courier new";
    font-size: 1rem;
    padding-top: 3vh;
  }
  .social__icons--container {
    width: 100vw;
    font-family: play;
    font-size: 1rem;
    display: flex;
    justify-content: space-evenly;
    padding-top: 3.25vh;
    // border: 1px solid tomato;

    i {
      font-size: 2.5rem;
    }
  }
  @media screen and (min-width: 700px) {
    display: none;
  }
}

/////////////////////////////////////////////////////
//                      HOME
////////////////////////////////////////////////////

#home {
  .home-container {
    height: 100vh;
    width: 100%;
    // border: 5px solid greenyellow;
  }

  ///////////////////////////////////////////////////
  //                     HEADER
  ///////////////////////////////////////////////////

  header {
    height: inherit;
    position: relative;
    display: flex;
    justify-content: center;
    border: 10px solid red;

    /////////////////////////////////////////////////
    //                     ARROW
    ////////////////////////////////////////////////
    .arrow-container {
      width: min-content;
      position: absolute;
      bottom: 0;
      margin: 0 auto;
      border: 1px solid red;
      .arrow {
        font-family: "Courier New", Courier, monospace;
        font-weight: light;
        font-size: 2.5rem;
        color: $white-primary;
        opacity: 0;
        @media screen and (min-width: 1300px) {
          font-size: 4.5rem;
        }
      }
    }
  }
  @media screen and (min-width: 1300px) {
    width: 80vw;
  }
}

/////////////////////////////////////////////////////
//                   HOVER EFFECT
/////////////////////////////////////////////////////
.hover-effect {
  border-left: 2px solid transparent;
  transition: all 0.2s;
}
.hover-effect:hover {
  cursor: pointer;
  color: $white-primary;
  border-left: 2px solid deepskyblue;
  background-color: $grey-primary;
}

/////////////////////////////////////////////////////
//                      TAGS
////////////////////////////////////////////////////

.tag {
  height: 18px;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 1vw;
  font-family: menlo;
  font-size: 0.75rem;
  text-align: left;
  color: $blue-primary;
  background-color: $editor-background;
  z-index: 50;
  // border: 1px solid pink;
  @media screen and (min-width: 700px) {
    border-color: transparent;
  }
}

.tag.hover-effect:hover {
  cursor: default;
  border: 1px solid $white-primary;
  background-color: grey;
  color: black;
}

//////////////////////////////////////////////////////
//                      MAIN
/////////////////////////////////////////////////////

main {
  @include section;
  display: grid;
  grid-template-rows: $intro-height min-content $projects-height min-content $more-height $contact-height;
  grid-template-columns: 75% 25%;
  grid-row-gap: 1em;
  background-color: $editor-background;
  position: relative;
  z-index: 10;
  // border: 5px solid tomato;

  ///////////////////////////////////////////////////
  //                   CTA BUTTONS
  ///////////////////////////////////////////////////
  .cta {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: $editor-background;
    // border: 1px solid white;
  }

  .cta-btn-download,
  .cta-btn-contact {
    height: 30px;
    width: 160px;
    font-family: "play";
    font-size: 1.1rem;
    font-weight: light;
    background-color: $editor-background;
    outline: none;
    background-color: $editor-background;
    color: aqua;
    border: 0.15em solid aqua;
    border-radius: $border-radius;
    transition: background-color 0.2s;
    &:hover {
      cursor: pointer;
      color: $editor-background;
      background-color: aqua;
    }
  }

  ///////////////////////////////////////////////////
  //                      TITLE
  //////////////////////////////////////////////////
  #intro {
    grid-row: 1;
    grid-column: 1/3;
    position: relative;
    @include flex-column-center();
    justify-content: space-evenly;
    // border: 1px solid tomato;
    .title {
      width: 90%;
      height: min-content;
      @include flex-column-center;
      justify-content: center;
      font-family: $font-primary;
      font-size: 1rem;
      // color: rgb(171, 170, 170);
      // border: 1px solid white;
      @media screen and (min-width: 700px) {
        width: 60%;
        font-size: 1.75rem;
      }
      .upper-title,
      .lower-title {
        padding: 0 1.5vw 0.15vh;
        white-space: nowrap;
        transition: transform 500ms;
      }

      .upper-title {
        align-self: flex-start;
        // transform: translateX(6vw);
        // animation: translationL 7s infinite alternate ease-in;
        @keyframes translationL {
          to {
            transform: translateX(110%);
          }
        }
      }
      .lower-title {
        align-self: flex-end;
        // transform: translateX(-6vw);
        // animation: translationR 7s infinite alternate ease-in;
        @keyframes translationR {
          to {
            transform: translateX(-110%);
          }
        }
      }
      .line {
        height: 1px;
        width: 100%;
        background-color: blueviolet;
      }
      &:hover {
        .line {
          background: linear-gradient(
            to right,
            rgb(87, 213, 255) 0%,
            $blue-navbar 100%
          );
        }
      }
    }

    /////////////////////////////////////////////////
    //                    ABOUT
    ////////////////////////////////////////////////

    .about {
      width: 99.9%;
      height: 280px;
      font-family: "courier new", monospace, serif;
      font-size: 0.75rem;
      line-height: 1.5rem;

      // border: 10px solid white;
      @media screen and (min-width: 700px) {
        font-size: 1.1rem;
      }
      .section-container {
        height: calc(100% - 36px);
        @include flex-column-center;
        justify-content: space-evenly;
        padding-left: 5vw;
        transition: all 0.2s;
        // border: 10px solid pink;
        &::after {
          left: 99.9%;
        }
        .p-about {
          width: 99.9%;
          // border: 1px solid pink;
        }
      }

      .hover-effect:hover {
        cursor: text;
        &::before {
          background-color: grey;
        }
      }
      .tag.hover-effect:hover {
        cursor: default;
      }
    }

    /////////////////////////////////////////////////
    //                    STACK
    ////////////////////////////////////////////////

    .stack {
      height: 250px;
      width: 100%;
      background-color: $editor-background;
      // border: 3px solid white;
      @media screen and (min-width: 700px) {
        height: 35%;
        max-height: 250px;
      }

      .stack-container {
        height: calc(100% - 36px);
        padding: 20px 0;
        @include flex-column-center;
        justify-content: space-between;
        // border: 10px solid red;
        &::after {
          left: 99.9%;
          background-color: $grey-primary;
        }
        @media screen and (min-width: 700px) {
          padding: 0;
        }

        .stacklist-wrapper {
          width: 80%;
          height: 130px;
          @include flex-column-center;
          // display: flex;
          display: none;
          align-items: center;
          justify-content: space-around;
          border: 1px solid $grey-primary;
          // border: 1px solid red;
          @media screen and (min-width: 700px) {
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            font-size: 1.1rem;
          }

          p {
            width: 100%;
            font-family: "courier new";
            font-size: 0.8rem;
            text-align: center;
            @media screen and (min-width: 700px) {
              font-size: 1rem;
            }
          }
        }
        .tabs__container {
          width: 80%;
          position: relative;
          border-bottom: 1px solid $grey-primary;
          @media screen and (min-width: 700px) {
            width: 500px;
          }
          .tabs__line {
            position: absolute;
            bottom: -1.5px;
            left: 0;
            background-color: blueviolet;
            height: 2px;
            width: calc(100% / 3);
            transition: left 0.4s;
            @media screen and (min-width: 700px) {
              width: calc(500px / 3);
            }
          }
        }
        .tabs__ul {
          height: 100%;
          width: 100%;
          font-family: "courier new";
          font-size: 0.9rem;
          color: $editor-foreground;
          // border: 1px solid yellow;

          .tab {
            width: calc(100% / 3);
            padding: 5px 2px;
            text-align: center;
            // border: 1px solid red;
            @media screen and (min-width: 700px) {
              width: calc(500px / 3);
              font-size: 1.1rem;
            }
            &:hover {
              cursor: pointer;
            }
          }
        }
        .tab.active {
          width: calc(100% / 3);
          color: $white-primary;
          background-color: rgba(93, 92, 92, 0.9);
        }

        .tab__content.active {
          display: flex;
        }
      }

      .stack__left,
      .stack__middle,
      .stack__right,
      .tabs__ul {
        width: 100%;
        max-width: 500px;
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        color: $white-primary;
        // border: 10px solid greenyellow;
        @media screen and (min-width: 700px) {
          justify-content: space-around;
        }
      }
      .stack__left {
        li {
          i {
            font-size: 1.5rem;
            // color: rgb(188, 185, 185);
            @media screen and (min-width: 700px) {
              font-size: 2.2rem;
            }
          }
        }
        &:hover {
          &::before {
            background-color: gray;
          }
          i {
            background-color: transparent;
          }
          li:nth-child(1) {
            i {
              color: #e44d26;
            }
          }
          li:nth-child(2) {
            i {
              color: #cd6799;
            }
          }
          li:nth-child(3) {
            i {
              color: #ffff00;
            }
          }
          li:nth-child(4) {
            i {
              color: #61dbfb;
            }
          }
          li:nth-child(5) {
            i {
              color: #3c873a;
            }
          }
          li:nth-child(6) {
            i {
              color: lightgrey;
            }
          }
        }
      }
      .stack__middle {
        #vscode {
          fill: #0078d7;
        }
        #webpack {
          fill: #8ed6fb;
        }
      }
    }

    /////////////////////////////////////////////////
    //                      GIF
    ////////////////////////////////////////////////

    // .gif {
    //   position: absolute;
    //   left: 76%;
    //   top: 27vh;
    //   border-radius: 50%;
    //   height: 200px;
    //   width: 220px;
    //   .facegif {
    //     height: 195px;
    //     width: 215px;
    //     border-radius: 50%;
    //     border: 1px solid blueviolet;
    //   }
    //   @media screen and (min-width: 1300px) {
    //     left: 78%;
    //     top: 30vh;
    //   }
    // }
  }
  .cta-download {
    grid-row: 2;
    grid-column: 1/3;
    // border: 1px solid greenyellow;
  }

  ///////////////////////////////////////////////////
  //                    PROJECTS
  ///////////////////////////////////////////////////

  #projects {
    grid-row: 3;
    grid-column: 1/3;
    // border: 5px solid greenyellow;

    .projects-wrapper {
      height: 100%;
      // min-width: 100%;
      @include flex-column-center;
      justify-content: space-evenly;
      list-style-type: none;
      position: relative;
      @media screen and (min-width: 700px) {
        width: 90vw;
        // flex-direction: row;
        // align-items: center;
        // justify-content: space-evenly;
      }

      .project {
        height: 210px;
        width: 90vw;
        color: $white-primary;
        background-color: $editor-foreground;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        transition: all 200ms;
        position: relative;
        // padding: 1vh 1vw;
        // border: 10px solid pink;
        @media screen and (min-width: 700px) {
          height: 220px;
          width: 80%;
          max-width: 1100px;
          color: $editor-background;
          padding-left: 1vw;
          flex-direction: row;
          align-items: center;
          justify-content: space-evenly;
          &:hover {
            .thumbnail:after {
              opacity: 0;
            }
          }
        }
        .fa-expand-alt {
          display: none;
          position: absolute;
          right: 1.5vw;
          top: 2vh;
          font-size: 1.5rem;
          color: $white-primary;
          transition: transform 200ms;
          z-index: 5;
          &:hover {
            cursor: pointer;
            transform: scale(1.1);
          }
          @media screen and (min-width: 700px) {
            color: $grey-primary;
          }
        }
        .thumbnail {
          height: 100%;
          width: 100%;
          display: flex;
          flex-direction: column;
          filter: contrast(1) brightness(60%);
          // mix-blend-mode: multiply;
          position: absolute;
          top: 0;
          z-index: 3;
          // border: 1px solid pink;
          &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            mix-blend-mode: screen;
            z-index: 2;
            background-color: rgba(184, 184, 184, 0.582);
            transition: all 0.5s;
          }
          @media screen and (min-width: 700px) {
            height: 190px;
            width: 320px;
            position: relative;
            filter: none;

            &::after {
              display: none;
            }
          }
          img {
            height: 100%;
            width: 100%;
            @media screen and (min-width: 700px) {
              height: 190px;
              width: 310px;
              // border: 1px solid $white-primary;
            }
          }
        }
        .pitch-container {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          padding: 0 20px 20px 20px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-evenly;
          color: $white-primary;
          font-weight: bold;
          z-index: 4;
          // border: 1px solid $white-primary;
          @media screen and (min-width: 700px) {
            position: relative;
            display: flex;
            color: black;
            font-weight: normal;
          }
          .project-title {
            font-family: $font-primary;
            @media screen and (min-width: 700px) {
              font-size: 1.5rem;
            }
          }
          .pitch {
            font-family: play;
            font-size: 1rem;
          }
          .technologies {
            font-family: "courier new", sans-serif;
            font-weight: normal;
          }
          .project-links {
            width: 80px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: white;
            align-self: flex-end;
            // border: 1px solid red;
            a {
              // text-decoration: none;
              color: $white-primary;
              transition: transform 0.2s;
              // border: 1px solid red;
              &:hover {
                cursor: pointer;
                background-color: transparent;
                // transform: scale(1.1);
              }

              i {
                // text-decoration: none;
                font-size: 2rem;
              }
              .project-live,
              .project-github {
                position: absolute;
                bottom: 10px;
                transform: translateX(-130%);
                font-size: 0.9rem;
                text-decoration: underline;
              }
              .project-github {
                transform: translateX(-85%);
              }
              .inactive {
                color: gray;
                // text-decoration: none;
                // transform: translateY(1px);
              }
            }
          }
          @media screen and (min-width: 700px) {
            // & {
            a :nth-child(1),
            span {
              color: red;
            }
            // }
            &:nth-child(2) {
              .project-links a {
                color: deeppink;
              }
            }
            &:nth-child(3) {
              .project-links a {
                color: deepskyblue;
              }
            }
            &:nth-child(4) {
              .project-links a {
                color: #fb4700da;
              }
            }
            &:nth-child(5) {
              .project-links a {
                color: $editor-background;
              }
            }
          }
        }

        // @media screen and (min-width: 700px) {
        //   &:hover {
        //     transform: rotateX(180deg);
        //     perspective: 100px;
        //   }
        // }
        .clone {
          // background-color: tomato;
          position: absolute;
          z-index: 5000;
        }
      }
      .hover-effect {
        border: none;
      }
      .hover-effect:hover {
        border: none;
        cursor: default;
      }
    }
  }

  .cta-contact {
    grid-row: 4;
    grid-column: 1/3;
  }

  /////////////////////////////////////////////////
  //                     MORE
  /////////////////////////////////////////////////

  #more {
    grid-row: 5;
    grid-column: 1/3;
    // border: 1px solid orange;
    .more-container {
      &::before,
      &::after {
        display: none;
      }
    }
    .more-wrapper {
      height: 100%;
      color: white;
      @include flex-column-center;
      justify-content: center;
      #canvas {
        border: 1px solid grey;
        &:hover {
          cursor: pointer;
          border: 1px solid $white-primary;
        }
      }
      #canvas {
        height: 150px;
        width: 90vw;
        @media screen and (min-width: 700px) {
          width: 1200px;
        }
      }
    }
  }

  ///////////////////////////////////////////////////
  //                    CONTACT
  ///////////////////////////////////////////////////
  #contact {
    grid-row: 6;
    grid-column: 1/3;
    .contact-wrapper {
      height: 100%;
      background-color: $editor-background;
      margin: 0 7vw;
      // border: 1px solid turquoise;
    }
  }
}

/////////////////////////////////////////////////////
//                      FOOTER
/////////////////////////////////////////////////////

footer {
  height: $footer-height;
  font-family: "courier new";
  font-size: 0.75rem;
  // white-space: nowrap;
  color: grey;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 10px;
  // border-top: 5px solid yellow;
  @media screen and (min-width: 1300px) {
    width: 100vw;
  }
}
