//////////////////////////////////
//           FONTS
//////////////////////////////////

@font-face {
  font-family: "courier-new";
  src: url("../fonts/cour.ttf");
}
@font-face {
  font-family: "hemihead";
  src: url("../fonts/hemihead.ttf");
}
@font-face {
  font-family: "menlo";
  src: url("../fonts/Menlo-Regular.woff");
}

@font-face {
  font-family: "play";
  src: url("../fonts/Play-Regular.ttf");
}
@font-face {
  font-family: "proto";
  src: url("../fonts/Prototype.ttf");
}
@font-face {
  font-family: "monaco";
  src: url("../fonts/Mocano.woff");
}
//////////////////////////////////
//      VARIABLES
//////////////////////////////////

$editor-background: #1e1e1e;
$blue-primary: #007acc;
$tomato-primary: #f48771;
$grey-primary: #3e3e42;
$font-primary: "hemihead";
$navbar-height: 50px;
$banner-height: 30vh;
$border-radius: 5px;

//////////////////////////////////
//      HTML - BODY
//////////////////////////////////

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  // height: 100%;
  width: 100vw;

  body {
    background-color: $editor-background;
    // color: $blue-primary;
    font-family: $font-primary;
    // height: 100%;
    min-height: calc(#{$navbar-height} + 100vh - #{$banner-height});
    width: 100%;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: $banner-height 1fr max-content 4vh;
    overflow-x: hidden;
    .courier-new {
      font-family: "courier-new";
    }
    .menlo {
      font-family: "menlo";
    }
    .play {
      font-family: "play";
    }
    .proto {
      font-family: "proto";
    }
    .hemihead {
      font-family: "hemihead";
    }
    .monaco {
      font-family: "monaco";
    }

    //////////////////////////////////
    //     NAVIGATION BAR
    //////////////////////////////////

    nav {
      position: fixed;
      top: 0;
      height: $navbar-height;
      min-height: $navbar-height;
      width: 100%;
      z-index: 60;
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: background-color 0.5s;
      .flags-container {
        height: 45px;
        width: 155px;
        margin-left: 2vw;
        padding: 1vh 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        opacity: 0;

        .flag {
          height: 20px;
          width: 45px;
          font-family: "courier-new", sans-serif;
          font-size: 1rem;
          font-weight: bolder;
          color: #fefefe;
          transition: all 0.6s;
          position: relative;
          text-align: center;
          border-right: 1px solid #ffffff;
          &:hover {
            cursor: pointer;
            color: #fefefe;
          }
          // &::after {
          //   content: "|";
          //   position: absolute;
          //   right: -12px;
          //   color: #ffffff;
          // }
        }
      }

      .link-wrapper {
        height: 100%;
        width: 200px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin-right: 2vw;
        // transition: top 200ms;
        // border: 1px solid white;

        .link {
          opacity: 1;
          text-decoration: none;
          height: 100%;
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          // border: 1px solid pink;

          i {
            font-size: 1.5rem;
            color: #ffffff;
            // border: 1px solid blue;
            &:hover {
              color: rgba(255, 255, 255, 0.5);
            }
          }
        }
        a:hover {
          cursor: pointer;
        }
      }
    }
    //////////////////////////////////
    //           BANNER
    //////////////////////////////////

    #banner {
      grid-row: 1;
      color: white;
      position: relative;
      // border: 10px solid green;
      .banner-container {
        height: $banner-height;
        width: 100%;
        position: fixed;
        z-index: 9;
        background: rgb(30, 30, 30);
        background: linear-gradient(0deg, rgba(30, 30, 30, 1), #062a77 30%);
        background: linear-gradient(
          0deg,
          rgba(23, 51, 138, 1) 0%,
          rgba(30, 30, 30, 1) 100%
        );
        opacity: 0;
        animation: lightup 3s forwards;
        // border: 5px solid blue;
        .stars-container {
          height: 100%;
        }
        @keyframes lightup {
          to {
            opacity: 1;
          }
        }
        //////////////////////////////////
        //      RAINBOW SUN
        //////////////////////////////////

        .rainbow-sun {
          position: absolute;
          top: $navbar-height;
          top: 0;
          height: $banner-height;
          width: 100%;
          transform: translateY(100%);
          z-index: 10;
          animation: rise 3s forwards;
          opacity: 0;
          // border: 10px solid tomato;
          .circle-container {
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            .circle {
              height: $banner-height;
              width: $banner-height;
              // margin-top: 30vh;
              border-radius: 50%;
              background: linear-gradient(
                0deg,
                yellow 40%,
                #c42842 70%,
                red 100%
              );
              transform: translateY(50%);
            }
          }
        }
        @keyframes rise {
          to {
            transform: translateY(0);
            opacity: 1;
          }
        }
      }
    }
    //////////////////////////////////
    //            HEADER
    //////////////////////////////////

    header {
      position: relative;
      height: calc(100vh - #{$banner-height});
      grid-row: 2;
      min-height: $banner-height;
      width: 100%;
      background-color: $editor-background;
      z-index: 50;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding: 50px 0;
      // border: 1px solid yellow;
      .logo-container {
        width: 490px;
        height: 79px;
        // border: 1px solid red;
        #logo {
          margin: 0;
          padding: 0;
          path:nth-child(1) {
            stroke-dasharray: 234.7;
            stroke-dashoffset: 234.7;
            animation: logoEnter 3s forwards ease-out;
          }
          path:nth-child(2) {
            stroke-dasharray: 234.7;
            stroke-dashoffset: 234.7;
            animation: logoEnter 3s forwards ease-out;
          }
          path:nth-child(3) {
            stroke-dasharray: 350px;
            stroke-dashoffset: 350px;
            animation: logoEnter 3s forwards ease-out;
          }
          path:nth-child(4) {
            stroke-dasharray: 350px;
            stroke-dashoffset: 350px;
            animation: logoEnter 3s forwards ease-out;
          }
          path:nth-child(5) {
            stroke-dasharray: 350px;
            stroke-dashoffset: 350px;
            animation: logoEnter 3s forwards ease-out;
          }
          path:nth-child(6) {
            stroke-dasharray: 350px;
            stroke-dashoffset: 350px;
            animation: logoEnter 3s forwards ease-out;
          }
          path:nth-child(7) {
            stroke-dasharray: 350px;
            stroke-dashoffset: 350px;
            animation: logoEnter 3s forwards ease-out;
          }
          path:nth-child(8) {
            stroke-dasharray: 350px;
            stroke-dashoffset: 350px;
            animation: logoEnter 3s forwards ease-out;
          }
          path:nth-child(9) {
            stroke-dasharray: 350px;
            animation: logoEnter 3s forwards ease-out;
            stroke-dashoffset: 350px;
          }
          path:nth-child(10) {
            stroke-dasharray: 350px;
            stroke-dashoffset: 350px;
            animation: logoEnter 3s forwards ease-out;
          }
          path:nth-child(11) {
            stroke-dasharray: 350px;
            stroke-dashoffset: 350px;
            animation: logoEnter 3s forwards ease-out;
          }
          path:nth-child(12) {
            stroke-dasharray: 350px;
            stroke-dashoffset: 350px;
            animation: logoEnter 3s forwards ease-out;
          }

          @keyframes logoEnter {
            to {
              stroke-dashoffset: 0;
            }
          }
        }
      }

      //////////////////////////////////
      //              ARROW
      //////////////////////////////////
      .scroll-down {
        display: flex;
        flex-direction: column;
        font-family: "play", serif;
        justify-content: center;
        width: 100%;
        margin: 2vh 0 12vh;

        p {
          line-height: 1rem;
          font-size: 1.25rem;
          color: #cccccc;
          text-align: center;
          // border: 1px solid red;
        }
        .arrow {
          width: 100%;
          transform: rotate(90deg);
          font-weight: light;
          font-size: 2.5rem;
          margin-top: 1.5vh;
          color: #cccccc;
          display: flex;
          align-items: center;
          justify-content: center;
          // border: 1px solid red;
        }
      }
    }

    //////////////////////////////////
    //            MAIN
    //////////////////////////////////

    main {
      // height: 100%;
      width: 100%;
      grid-row: 3;
      display: grid;
      grid-template-rows: 100vh 1250px 250px 100vh;
      z-index: 9;
      background-color: $editor-background;

      // border: 3px solid tomato;
      // position: relative;

      //////////////////////////////////
      //            CTA BUTTONS
      //////////////////////////////////

      .cta {
        grid-row: 3;
        grid-column: 1/4;
        height: 40px;
        width: 250px;
        margin: 0 auto;
        font-family: "play";
        font-size: 1.25rem;
        font-weight: light;
        color: $blue-primary;
        color: turquoise;
        background-color: $editor-background;
        outline: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 0.15em solid turquoise;
        border-radius: $border-radius;
        transition: background-color 0.2s;
        &:hover {
          cursor: pointer;
          background-color: turquoise;
          color: $editor-background;
          font-weight: bolder;
        }
      }

      //////////////////////////////////
      //            INTRO
      //////////////////////////////////

      #intro {
        grid-row: 1;
        width: 100%;
        // border: 1px solid red;

        .intro-container {
          height: 100%;
          display: grid;
          grid-template-columns: 60% 10% 30%;
          grid-template-rows: 1fr max-content 1fr;
          // border: 10px solid white;
          .title {
            grid-row: 1;
            grid-column: 1/3;
            font-size: 2rem;
            color: #ffffff;
            // white-space: nowrap;
            display: flex;
            flex-direction: column;
            .upper-title {
              align-self: flex-start;
              padding: 0 1.5vw 0.15vh;
              white-space: nowrap;
            }
            .lower-title {
              align-self: flex-end;
              padding: 0.15vh 1.5vw 0;
              white-space: nowrap;
              // border: solid 1px red;
            }
            .line {
              height: 1px;
              width: 100%;
              background-color: #ffffff;
            }
          }
          .text-content {
            grid-row: 2;
            grid-column: 1/4;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            position: relative;
            // border: 1px solid red;

            .text {
              width: 70%;
              min-width: 70%;
              height: 100%;
              padding: 3vh 0;
              font-size: 1.5rem;
              color: #ffffff;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: space-around;
              // border: 2px solid yellow;

              .about,
              .stack {
                // height: 300px;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-evenly;
                position: relative;
                border-left: 1px solid transparent;

                // border: 1px solid white;
                &::before {
                  content: "";
                  position: absolute;
                  left: 3.5vw;
                  height: 90%;
                  width: 1px;
                  background-color: $grey-primary;
                }
              }

              //////////////////////////////////
              //            ABOUT
              //////////////////////////////////

              .about {
                height: 100%;
                font-family: "courier new", monospace, serif;
                font-size: 1.25rem;
                justify-self: flex-start;
                padding: 3vh 5vw;
                transition: all 0.2s;
              }
              .hover-effect:hover {
                cursor: pointer;
                background-color: $grey-primary;
                border-left: 2px solid deepskyblue;
                .tag {
                  transition: transform;
                }
                .tag {
                  transform: translateX(80%);
                }
                i {
                  transition: color 0.2s;
                  background-color: $grey-primary;
                }
                i:nth-child(1) {
                  color: #f06529;
                }
                i:nth-child(2) {
                  color: #cd6799;
                }
                i:nth-child(3) {
                  color: #f0db4f;
                }
                i:nth-child(4) {
                  color: #61dbfb;
                }
                i:nth-child(5) {
                  color: #3c873a;
                }
                i:nth-child(6) {
                  color: #f34f29;
                }
              }
              //////////////////////////////////
              //            STACK
              //////////////////////////////////

              .stack {
                height: 100%;
                // width: 100%;
                padding: 2vh 0;
                // border: 1px solid $grey-primary;

                .icons-container {
                  width: 100%;
                  display: flex;
                  margin-left: 5vw;
                  flex-wrap: wrap;
                  align-items: center;
                  justify-content: space-evenly;
                  // border: 1px solid yellow;

                  i {
                    font-size: 3rem;
                  }

                  // .hover-effect:hover:nth-child(1) {
                  //   cursor: pointer;
                  //   color: #f06529;
                  // }
                  //
                }
              }
            }

            //////////////////////////////////
            //            GIF
            //////////////////////////////////

            .gif-container {
              position: absolute;
              right: 9vw;
              top: 5vh;
              height: 200px;
              width: 210px;
              // margin-left: 2vw;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              // border: 1px solid #ffffff;
              .facegif {
                height: 200px;
                width: 210px;
                border-radius: 50%;
                // border: 1px solid red;
              }
            }
          }
        }
      }

      section {
        display: flex;
        flex-direction: column;
        margin: 4vh 0;
        // border: 10px solid green;
        h4 {
          // transition: transform 1s;
        }
        &:hover {
          h4:nth-child(odd) {
            transform: translateX(20%);
          }
          h4:nth-child(n + 2) {
            transform: translateX(70%);
          }
        }
        .about,
        .stack,
        .projects-wrapper,
        .more-wrapper,
        .contact-wrapper {
          &::before {
            content: "";
            position: absolute;
            left: 2.5vw;
            height: 95%;
            width: 1px;
            background-color: $grey-primary;
          }
        }
        .more-wrapper,
        .contact-wrapper {
          &::before {
            left: 3.75vw;
          }
        }

        .tag {
          height: 28px;
          width: 100%;
          text-align: left;
          padding-left: 1vw;
          font-family: menlo;
          font-size: 1.15rem;
          color: lightskyblue;
          // border: 2px solid yellow;
        }
        .tag-about-opening {
          margin-top: 2vh;
        }
        .tag-about-closing {
          margin-bottom: 7vh;
        }
        .section-container {
          height: 100%;
          width: 100%;
        }
      }
      //////////////////////////////////
      //        PROJECTS
      //////////////////////////////////

      #projects {
        grid-row: 2;
        margin-top: 5vh;
        .projects-container {
          // border: 1px solid grey;
          .projects-wrapper {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            position: relative;
            &::before {
              left: 4vw;
            }

            .project {
              height: 200px;
              width: 80%;
              color: #ffffff;
              background-color: $grey-primary;
              display: flex;
              align-items: center;
              transition: all 0.2s;
              position: relative;
              // border: 0.1px solid pink;

              .fa-expand-alt {
                position: absolute;
                right: 1.5vw;
                top: 2vh;
                font-size: 1.5rem;
                color: $grey-primary;
              }
              .thumbnail {
                padding: 0 1vw;
                img {
                  height: 170px;
                  width: 320px;
                  border: 1px solid #ffffff;
                }
              }
              .pitch-container {
                height: 100%;
                padding: 0 1vw 0;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-evenly;

                .project-links {
                  width: 70px;
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  color: white;
                  // margin: 0 auto;
                  // border: 1px solid red;
                  a {
                    text-decoration: none;
                    color: #ffffff;

                    i {
                      text-decoration: none;
                      font-size: 1.5rem;
                    }
                    .fa-github-alt {
                      font-size: 2rem;
                    }
                  }
                  .hover-effect:hover {
                    cursor: pointer;
                    // color: black;
                    background-color: #ffffff;
                    a {
                      transition: color 0.2s;
                    }
                    a:nth-child(1) {
                      color: black;
                    }
                  }
                }
              }
            }
            .hover-effect:hover {
              cursor: pointer;
              color: black;
              background-color: #ffffff;
              a.hover-effect:hover {
                color: black;
              }
            }
          }
        }
      }
      //////////////////////////////////
      //            MORE
      //////////////////////////////////

      #more {
        grid-row: 3;

        .more-container {
          height: 100%;

          .more-wrapper {
            height: 100%;
            color: white;
            text-align: center;
            border-top: 1px solid grey;
            border-bottom: 1px solid grey;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            // border: 1px solid red;
          }
        }
      }
      //////////////////////////////////
      //            CONTACT
      //////////////////////////////////

      #contact {
        grid-row: 4;
        height: 100%;
        .contact-container {
          .contact-wrapper {
            height: 100%;
            width: 100%;
            border-top: 1px solid $blue-primary;
            border-bottom: 1px solid $blue-primary;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
          }
        }
      }
    }

    //////////////////////////////////
    //            FOOTER
    //////////////////////////////////

    footer {
      grid-row: 5;
      height: 100%;
      padding: 0 2vw 0 1vw;
      font-family: "courier new";
      font-size: 1rem;
      color: $grey-primary;
      border-top: 1px solid $grey-primary;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      p:nth-child(1) {
        width: calc(100vw / 3);
        text-align: left;
      }
      p:nth-child(2) {
        width: calc(100vw / 3);
        text-align: center;
      }
      p:nth-child(3) {
        width: calc(100vw / 3);
        text-align: right;
        margin-right: 1vw;
      }
    }
  }
}
