@font-face {
  font-family: "courier-new";
  src: url("../fonts/cour.ttf");
}
@font-face {
  font-family: "hemihead";
  src: url("../fonts/hemihead.ttf");
}
@font-face {
  font-family: "menlo";
  src: url("../fonts/Menlo-Regular.woff");
}
@font-face {
  font-family: "play";
  src: url("../fonts/Play-Regular.ttf");
}
@font-face {
  font-family: "proto";
  src: url("../fonts/Prototype.ttf");
}
@font-face {
  font-family: "monaco";
  src: url("../fonts/Mocano.woff");
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #1e1e1e;
  overflow-x: hidden;
}
body .body-container {
  background-color: transparent;
  position: relative;
}
body .body-container section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  background-color: #1e1e1e;
}
body .body-container section .section-container {
  height: 100%;
  width: 100%;
}
body .body-container section .section-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 2.5vw;
  height: 100%;
  width: 0.5px;
  background-color: #3e3e42;
}
body .body-container section .section-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 98%;
  height: 100%;
  width: 0.5px;
  background-color: #3e3e42;
}
@media screen and (min-width: 1300px) {
  body .body-container {
    padding: 0 10vw;
  }
}

.loader-container {
  height: 100vh;
  width: 100vw;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader-container .loader {
  height: 300px;
  width: 300px;
  border-top: 2px solid blueviolet;
  border-right: 2px solid #ad2ae90c;
  border-bottom: 2px solid #ad2ae90c;
  border-left: 2px solid blueviolet;
  border-radius: 50%;
  animation: border 1s infinite ease-in-out;
}
@keyframes border {
  to {
    transform: rotate(360deg);
  }
}

.project-enlarged {
  display: none;
  height: calc(100vh - 40px);
  height: 100vh;
  width: 100vw;
  background-color: deepskyblue;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
  overflow: hidden;
}

nav {
  position: fixed;
  top: 0;
  height: 40px;
  min-height: 40px;
  width: 100vw;
  z-index: 60;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  transition: background-color 0.2s;
}
nav .flags-container {
  position: absolute;
  top: 0;
  height: 45px;
  width: 155px;
  margin-left: 2vw;
  padding: 1vh 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
nav .flags-container .flag {
  height: 20px;
  width: 45px;
  font-family: "courier", sans-serif;
  font-size: 1rem;
  font-weight: light;
  letter-spacing: 0.1rem;
  color: #fefefe;
  transition: all 0.6s;
  text-align: center;
  border-right: 1px solid #fefefe;
}
nav .flags-container .flag:hover {
  cursor: pointer;
  color: yellow;
}
nav .brand-name {
  font-family: hemihead;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-left: 200px;
  opacity: 0;
  transform: translateY(150%);
  transition: transform 200ms;
}
nav .link-wrapper {
  height: 100%;
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 2vw;
  transition: transform 350ms;
  transform: translateY(1.75vh);
}
nav .link-wrapper .link {
  opacity: 1;
  text-decoration: none;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
nav .link-wrapper .link i {
  font-size: 1.5rem;
  color: #fefefe;
  transition: transform 750ms;
}
nav .link-wrapper .link i:hover {
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

#home .home-container {
  width: 100vw;
  display: grid;
  grid-template-rows: minmax(150px, 30vh) calc( 100vh - 30vh );
  position: relative;
}
@media screen and (min-width: 1300px) {
  #home .home-container {
    width: 80vw;
  }
}
#home .home-container .sky-container {
  position: fixed;
  height: 30vh;
  width: 100vw;
  background: #1e1e1e;
  background: linear-gradient(0deg, #17338a 0%, #1e1e1e 100%);
  opacity: 0;
  z-index: 5;
  animation: lightup 3s forwards;
}
@keyframes lightup {
  to {
    opacity: 1;
  }
}
#home .home-container .sky-container .circle-container {
  height: 30vh;
  min-height: 150px;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}
#home .home-container .sky-container .circle-container #svg-rainbow {
  position: absolute;
  transform: translateY(100vh);
  opacity: 0;
  animation: rise 3s forwards;
}
@keyframes rise {
  to {
    transform: translateY(10%);
    opacity: 1;
  }
}
@media screen and (min-width: 1300px) {
  #home .home-container .sky-container {
    width: 80vw;
  }
}
#home header {
  grid-row: 2;
  grid-column: 1/3;
  height: calc(100vh - 30vh);
  min-height: 30vh;
  background-color: #1e1e1e;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0;
  padding: 3vh;
}
#home header .logo-container #logo path {
  stroke: lightgrey;
  stroke-width: 1;
}
#home header .logo-container #logo path:nth-child(1) {
  stroke-dasharray: 339.3;
  stroke-dashoffset: 339.3;
  animation: logoEnter 3s forwards ease-out;
}
#home header .logo-container #logo path:nth-child(2) {
  stroke-dasharray: 220.5;
  stroke-dashoffset: 220.5;
  animation: logoEnter 3s forwards ease-out;
}
#home header .logo-container #logo path:nth-child(3) {
  stroke-dasharray: 497.9;
  stroke-dashoffset: 497.9;
  animation: logoEnter 3s forwards ease-out;
}
#home header .logo-container #logo path:nth-child(4) {
  stroke-dasharray: 389.4;
  stroke-dashoffset: 389.4;
  animation: logoEnter 3s forwards ease-out;
}
#home header .logo-container #logo path:nth-child(5) {
  stroke-dasharray: 286.3;
  stroke-dashoffset: 286.3;
  animation: logoEnter 3s forwards ease-out;
}
#home header .logo-container #logo path:nth-child(6) {
  stroke-dasharray: 343.8;
  stroke-dashoffset: 343.8;
  animation: logoEnter 3s forwards ease-out;
}
#home header .logo-container #logo path:nth-child(7) {
  stroke-dasharray: 416.1px;
  stroke-dashoffset: 416.1px;
  animation: logoEnter 3s forwards ease-out;
}
#home header .logo-container #logo path:nth-child(8) {
  stroke-dasharray: 399.5px;
  stroke-dashoffset: 399.5px;
  animation: logoEnter 3s forwards ease-out;
  stroke-dashoffset: 350px;
}
#home header .logo-container #logo path:nth-child(9) {
  stroke-dasharray: 214.5px;
  stroke-dashoffset: 214.5px;
  animation: logoEnter 3s forwards ease-out;
}
#home header .logo-container #logo path:nth-child(10) {
  stroke-dasharray: 65.2px;
  stroke-dashoffset: 65.2px;
  animation: logoEnter 3s forwards ease-out;
}
#home header .logo-container #logo path:nth-child(11) {
  stroke-dasharray: 220.5px;
  stroke-dashoffset: 220.5px;
  animation: logoEnter 3s forwards ease-out;
}
#home header .logo-container #logo path:nth-child(12) {
  stroke-dasharray: 343.8px;
  stroke-dashoffset: 343.8px;
  animation: logoEnter 3s forwards ease-out;
}
@keyframes logoEnter {
  to {
    stroke-dashoffset: 0;
  }
}
#home header .header-text {
  height: 20%;
  width: 100%;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5rem;
  color: grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
#home header .header-text .header-line {
  height: 1px;
  width: 40%;
  margin-bottom: -0.25rem;
  background-color: blueviolet;
  opacity: 0;
}
@media screen and (min-width: 1300px) {
  #home header .header-text .header-line {
    width: 44%;
  }
}
#home header .header-text .p-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
}
#home header .header-text .p-wrapper .p-header {
  margin-left: 1vh;
  opacity: 0;
}
#home header .header-text .p-wrapper span {
  opacity: 0;
}
#home header .arrow-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-100%);
}
#home header .arrow-container .arrow {
  height: 100%;
  width: 100%;
  transform: rotate(90deg);
  font-family: "Courier New", Courier, monospace;
  font-weight: light;
  font-size: 2.5rem;
  color: dimgray;
  margin: 20px 0 0 1vh;
  opacity: 0;
}
@media screen and (min-width: 1300px) {
  #home header .arrow-container .arrow {
    font-size: 4.5rem;
  }
}
@media screen and (min-width: 1300px) {
  #home {
    width: 80vw;
  }
}

main {
  display: grid;
  grid-template-rows: calc(100vh - 40px) calc(200px * 6) min-content calc(150px + 56px) calc(100vh - 40px - 20px);
  grid-template-columns: 75% 25%;
  grid-row-gap: 1em;
  background-color: #1e1e1e;
  position: relative;
  z-index: 9;
}
main section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  background-color: #1e1e1e;
}
main section .section-container {
  height: 100%;
  width: 100%;
}
main section .section-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 2.5vw;
  height: 100%;
  width: 0.5px;
  background-color: #3e3e42;
}
main section .section-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 98%;
  height: 100%;
  width: 0.5px;
  background-color: #3e3e42;
}
main .hover-effect {
  border-left: 2px solid transparent;
  transition: all 0.2s;
}
main .hover-effect:hover {
  cursor: pointer;
  color: #fefefe;
  border-left: 2px solid deepskyblue;
  background-color: #3e3e42;
}
main .tag {
  height: 28px;
  width: 100%;
  padding-left: 1vw;
  font-family: menlo;
  font-size: 1.15rem;
  text-align: left;
  color: #007acc;
  background-color: #1e1e1e;
  z-index: 50;
  border: 1px solid transparent;
}
main .tag.hover-effect:hover {
  cursor: default;
  border: 1px solid pink;
  background-color: #1e1e1e;
}
main .cta {
  background-color: #1e1e1e;
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
}
main .cta-btn {
  height: 30px;
  width: 160px;
  font-family: "play";
  font-size: 1.1rem;
  font-weight: light;
  background-color: #1e1e1e;
  outline: none;
  background-color: aqua;
  color: #1e1e1e;
  border: 0.15em solid aqua;
  border-radius: 5px;
  transition: background-color 0.2s;
}
main .cta-btn:hover {
  cursor: pointer;
  border-color: aqua;
  color: aqua;
  background-color: #1e1e1e;
}
main #intro {
  grid-row: 1;
  grid-column: 1/3;
  align-items: flex-start;
  position: relative;
  display: grid;
  grid-template-rows: 1fr 40vh max-content min-content;
  grid-template-columns: 75% 25%;
  grid-row-gap: 1em;
  align-items: center;
}
main #intro section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  background-color: #1e1e1e;
}
main #intro section .section-container {
  height: 100%;
  width: 100%;
}
main #intro section .section-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 2.5vw;
  height: 100%;
  width: 0.5px;
  background-color: #3e3e42;
}
main #intro section .section-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 98%;
  height: 100%;
  width: 0.5px;
  background-color: #3e3e42;
}
main #intro .title {
  grid-row: 1;
  grid-column: 1;
  font-family: "hemihead";
  font-size: 1.75rem;
  color: #abaaaa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main #intro .title .upper-title,
main #intro .title .lower-title {
  padding: 0 1.5vw 0.15vh;
  white-space: nowrap;
  transition: transform 500ms;
}
main #intro .title .upper-title {
  align-self: flex-start;
  transform: translateX(6vw);
}
@keyframes translationL {
  to {
    transform: translateX(110%);
  }
}
main #intro .title .lower-title {
  align-self: flex-end;
  transform: translateX(-6vw);
}
@keyframes translationR {
  to {
    transform: translateX(-110%);
  }
}
main #intro .title .line {
  height: 1px;
  width: 100%;
  background-color: blueviolet;
}
main #intro .title:hover .line {
  background: linear-gradient(to right, #57d5ff 0%, #0037ad 100%);
}
main #intro .about {
  grid-row: 2;
  grid-column: 1;
  font-family: "courier new", monospace, serif;
  font-size: 1.15rem;
  color: grey;
}
main #intro .about .section-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 5vw;
  transition: all 0.2s;
  width: 99.9%;
  height: 30vh;
}
main #intro .about .section-container::after {
  left: 99.9%;
}
main #intro .about .section-container .p-about {
  width: 99.9%;
  white-space: nowrap;
}
main #intro .about .hover-effect:hover {
  cursor: text;
}
main #intro .about .hover-effect:hover::before {
  background-color: grey;
}
main #intro .about .tag.hover-effect:hover {
  cursor: default;
}
main #intro .stack {
  grid-row: 3;
  grid-column: 1/3;
  width: 98%;
}
main #intro .stack .stack-container {
  height: 15vh;
  display: flex;
  align-self: center;
  justify-content: center;
}
main #intro .stack .stack-container::after {
  left: 99.9%;
  background-color: #3e3e42;
}
main #intro .stack ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
main #intro .stack ul li i {
  font-size: 3rem;
  color: #bcb9b9;
}
main #intro .stack .stack-left {
  width: 100%;
  padding-left: 5vw;
  align-items: center;
  justify-content: space-evenly;
}
main #intro .stack .stack-middle,
main #intro .stack .stack-right {
  width: 100%;
  color: white;
  border-left: 1px solid #3e3e42;
}
main #intro .stack .hover-effect:hover::before {
  background-color: gray;
}
main #intro .stack .hover-effect:hover .stack-middle,
main #intro .stack .hover-effect:hover .stack-right {
  border-left: 1px solid #3e3e42;
}
main #intro .stack .hover-effect:hover i {
  background-color: transparent;
}
main #intro .stack .hover-effect:hover li:nth-child(1) i {
  color: #e44d26;
}
main #intro .stack .hover-effect:hover li:nth-child(2) i {
  color: #cd6799;
}
main #intro .stack .hover-effect:hover li:nth-child(3) i {
  color: #ffff00;
}
main #intro .stack .hover-effect:hover li:nth-child(4) i {
  color: #61dbfb;
}
main #intro .stack .hover-effect:hover li:nth-child(5) i {
  color: #3c873a;
}
main #intro .stack .hover-effect:hover li:nth-child(6) i {
  color: lightgrey;
}
main #intro .cta-download {
  grid-row: 4;
  grid-column: 1/3;
}
main #intro .gif {
  position: absolute;
  left: 76%;
  top: 27vh;
  border-radius: 50%;
  height: 200px;
  width: 220px;
}
main #intro .gif .facegif {
  height: 195px;
  width: 215px;
  border-radius: 50%;
  border: 1px solid blueviolet;
}
@media screen and (min-width: 1300px) {
  main #intro .gif {
    left: 78%;
    top: 30vh;
  }
}
main #projects {
  grid-row: 2;
  grid-column: 1/3;
}
main #projects .projects-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
  position: relative;
}
main #projects .projects-wrapper .project {
  height: 210px;
  width: 80%;
  color: #fefefe;
  background-color: #3e3e42;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transition: all 200ms;
  position: relative;
}
main #projects .projects-wrapper .project .fa-expand-alt {
  position: absolute;
  right: 1.5vw;
  top: 2vh;
  font-size: 1.5rem;
  color: #3e3e42;
}
main #projects .projects-wrapper .project .thumbnail {
  padding: 0 1vw;
  display: flex;
  flex-direction: column;
}
main #projects .projects-wrapper .project .thumbnail img {
  height: 190px;
  width: 320px;
  border: 1px solid #fefefe;
}
main #projects .projects-wrapper .project .pitch-container {
  height: 190px;
  width: 100%;
  padding: 0 1vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}
main #projects .projects-wrapper .project .pitch-container .project-title {
  font-family: "hemihead";
}
main #projects .projects-wrapper .project .pitch-container .pitch {
  font-family: play;
}
main #projects .projects-wrapper .project .pitch-container .technologies {
  font-family: "courier new", sans-serif;
}
main #projects .projects-wrapper .project .pitch-container .project-links {
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  align-self: flex-start;
}
main #projects .projects-wrapper .project .pitch-container .project-links a {
  text-decoration: none;
  color: #fefefe;
}
main #projects .projects-wrapper .project .pitch-container .project-links a i {
  text-decoration: none;
  font-size: 1.5rem;
}
main #projects .projects-wrapper .project .pitch-container .project-links a .fa-github-alt {
  font-size: 2rem;
}
main #projects .projects-wrapper .project .clone {
  background-color: #f48771;
  position: absolute;
  z-index: 100;
}
main #projects .projects-wrapper .hover-effect:hover {
  color: black;
  background-color: #fefefe;
  border-left: 2px solid transparent;
}
main #projects .projects-wrapper .hover-effect:hover img {
  border: 1px solid lightgrey;
}
main #projects .projects-wrapper .hover-effect:hover .thumbnail::after {
  border: 1px solid transparent;
}
main #projects .projects-wrapper .hover-effect:hover:nth-child(1) .project-links a {
  color: red;
}
main #projects .projects-wrapper .hover-effect:hover:nth-child(2) .project-links a {
  color: deeppink;
}
main #projects .projects-wrapper .hover-effect:hover:nth-child(3) .project-links a {
  color: deepskyblue;
}
main #projects .projects-wrapper .hover-effect:hover:nth-child(4) .project-links a {
  color: #fb4700da;
}
main #projects .projects-wrapper .hover-effect:hover:nth-child(5) .project-links a {
  color: #1e1e1e;
}
main .cta-contact {
  grid-row: 3;
  grid-column: 1/3;
}
main #more {
  grid-row: 4;
  grid-column: 1/3;
}
main #more .more-container::before, main #more .more-container::after {
  display: none;
}
main #more .more-wrapper {
  height: 100%;
  color: white;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #d4d4d4;
}

#contact {
  grid-row: 5;
  grid-column: 1/3;
}
#contact .contact-wrapper {
  height: 100%;
  background-color: #1e1e1e;
  margin: 0 7vw;
}

footer {
  height: 20px;
  padding: 0 2vw 0 1vw;
  font-family: "courier new";
  font-size: 1rem;
  white-space: nowrap;
  color: grey;
  border-top: 1px solid #3e3e42;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
footer p:nth-child(1) {
  width: calc(100vw / 3);
  text-align: left;
}
footer p:nth-child(2) {
  width: calc(100vw / 3);
  text-align: center;
}
footer p:nth-child(3) {
  width: calc(100vw / 3);
  text-align: right;
  margin-right: 1vw;
}
@media screen and (min-width: 1300px) {
  footer {
    width: 100vw;
  }
}

/*# sourceMappingURL=styles.css.map */
