@font-face {
  font-family: "courier-new";
  src: url("../fonts/cour.ttf");
}
@font-face {
  font-family: "hemihead";
  src: url("../fonts/hemihead.ttf");
}
@font-face {
  font-family: "menlo";
  src: url("../fonts/Menlo-Regular.woff");
}
@font-face {
  font-family: "play";
  src: url("../fonts/Play-Regular.ttf");
}
@font-face {
  font-family: "proto";
  src: url("../fonts/Prototype.ttf");
}
@font-face {
  font-family: "monaco";
  src: url("../fonts/Mocano.woff");
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* a {
  text-decoration: none;
}

html {
  font-size: 16px;
  height: 100%;
  overflow-x: hidden;
}

body {
  min-height: 100%;
  width: 100%;
  background-color: #1e1e1e;
  overflow-x: hidden;
  color: #fefefe;
}
body .body-container {
  background-color: transparent;
  position: relative;
}
body .body-container section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  background-color: #1e1e1e;
}
body .body-container section .section-container {
  height: 100%;
}
@media screen and (min-width: 700px) {
  body .body-container section .section-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 2.5vw;
    height: 100%;
    width: 0.5px;
    background-color: #3e3e42;
  }
  body .body-container section .section-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 98%;
    height: 100%;
    width: 0.5px;
    background-color: #3e3e42;
  }
}
@media screen and (min-width: 1300px) {
  body .body-container {
    padding: 0 10vw;
  }
}

.loader-container {
  display: none;
  height: 100vh;
  width: 100vw;
  background-color: #1e1e1e;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader-container .loader {
  height: 300px;
  width: 300px;
  border-top: 2px solid blueviolet;
  border-right: 2px solid #ad2ae90c;
  border-bottom: 2px solid #ad2ae90c;
  border-left: 2px solid blueviolet;
  border-radius: 50%;
  animation: border 1s infinite ease-in-out;
}
@keyframes border {
  to {
    transform: rotate(360deg);
  }
}

.fullpage {
  background-color: rgba(128, 128, 128, 0.739);
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 1000;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fullpage .expand-container {
  position: absolute;
  height: 80%;
  width: 70%;
  z-index: 1001;
  color: black;
  background-color: #fefefe;
}
.fullpage .fa-times {
  font-size: 3rem;
  color: #fefefe;
  position: absolute;
  right: -30px;
}

nav {
  position: fixed;
  top: 0;
  height: 30px;
  width: 100%;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  transition: background-color 0.2s;
}
nav #hamburger {
  position: absolute;
  top: 0;
  right: 5px;
  fill: #fefefe;
}
@media screen and (min-width: 700px) {
  nav #hamburger {
    display: none;
  }
}
nav .brand-name {
  font-family: hemihead;
  font-size: 0.8rem;
  color: white;
  opacity: 0;
  transform: translateY(150%);
  transition: transform 200ms;
}
@media screen and (min-width: 700px) {
  nav .brand-name {
    font-size: 1rem;
  }
}
nav .link-wrapper {
  display: none;
}
@media screen and (min-width: 700px) {
  nav .link-wrapper {
    position: absolute;
    right: 0;
    height: 100%;
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 2vw;
    transition: transform 350ms;
    transform: translateY(1.75vh);
  }
}
nav .link-wrapper .link {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 1;
}
nav .link-wrapper .link i {
  font-size: 1.25rem;
  color: #fefefe;
  transition: transform 750ms;
}
nav .link-wrapper .link i:hover {
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

.hamburger__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  width: 100vw;
  position: fixed;
  color: #fefefe;
  top: 0;
  right: 0;
  background-color: #2e2d2d;
  border: 1px solid linear-gradient(to right, pink, red);
  z-index: 100;
  transform: translateX(100%);
  transition: transform 0.3s;
}
.hamburger__content a {
  color: #fefefe;
}
.hamburger__content .hamburger__content--title {
  font-family: hemihead;
  font-size: 2.25rem;
}
.hamburger__content .hamburger__content--links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 30%;
  width: 60%;
  font-family: menlo;
  font-size: 1rem;
}
.hamburger__content .hamburger__content--socialicons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 20%;
  font-family: "courier new";
  font-size: 1rem;
}
.hamburger__content .social__icons--container {
  width: 100%;
  font-family: play;
  font-size: 1rem;
  display: flex;
  justify-content: space-evenly;
}
.hamburger__content .social__icons--container I {
  font-size: 1.75rem;
}
@media screen and (min-width: 700px) {
  .hamburger__content {
    display: none;
  }
}
.hamburger__content #close__hamburger {
  position: absolute;
  top: 0;
  right: 5px;
  fill: #fefefe;
}
@media screen and (min-width: 700px) {
  .hamburger__content #close__hamburger {
    display: none;
  }
}

#home .home-container {
  width: 100%;
  padding: 0;
  display: grid;
  grid-template-rows: minmax(150px, 30vh) calc( 100vh - 30vh );
  position: relative;
}
@media screen and (min-width: 1300px) {
  #home .home-container {
    width: 80vw;
  }
}
#home .home-container .sky-container {
  position: fixed;
  width: 100%;
  height: 30vh;
  background: #1e1e1e;
  background: linear-gradient(0deg, #17338a 0%, #1e1e1e 100%);
  opacity: 0;
  z-index: 0;
  animation: lightup 3s forwards 2s;
}
@keyframes lightup {
  to {
    opacity: 1;
  }
}
#home .home-container .sky-container .circle-container {
  height: 30vh;
  min-width: 100%;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}
#home .home-container .sky-container .circle-container #svg-rainbow {
  transform: translateY(100%);
  animation: rise 3s forwards 1s;
}
@keyframes rise {
  to {
    transform: translateY(10%);
  }
}
@media screen and (min-width: 1300px) {
  #home .home-container .sky-container {
    width: 80vw;
  }
}
#home .sky-placeholder {
  grid-row: 1;
  grid-column: 1/3;
  background-color: transparent;
}
#home header {
  grid-row: 2;
  grid-column: 1/3;
  height: calc(100vh - 30vh);
  min-height: 30vh;
  background-color: #1e1e1e;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
#home header .logo-container {
  margin-top: -10%;
}
#home header .logo-container #logo {
  margin: 0 auto;
  z-index: 200;
}
@media screen and (min-height: 650px) {
  #home header .logo-container #logo {
    width: 350px;
    height: 80px;
  }
}
@media screen and (min-height: 750px) {
  #home header .logo-container #logo {
    margin-top: -10%;
  }
}
#home header .logo-container #logo path {
  stroke: #fefefe;
  stroke-width: 2;
}
#home header .logo-container #logo path:nth-child(1) {
  stroke-dasharray: 339.3;
  stroke-dashoffset: 339.3;
  animation: logoEnter 3s forwards ease-out;
}
#home header .logo-container #logo path:nth-child(2) {
  stroke-dasharray: 220.5;
  stroke-dashoffset: 220.5;
  animation: logoEnter 3s forwards ease-out;
}
#home header .logo-container #logo path:nth-child(3) {
  stroke-dasharray: 497.9;
  stroke-dashoffset: 497.9;
  animation: logoEnter 3s forwards ease-out;
}
#home header .logo-container #logo path:nth-child(4) {
  stroke-dasharray: 389.4;
  stroke-dashoffset: 389.4;
  animation: logoEnter 3s forwards ease-out;
}
#home header .logo-container #logo path:nth-child(5) {
  stroke-dasharray: 286.3;
  stroke-dashoffset: 286.3;
  animation: logoEnter 3s forwards ease-out;
}
#home header .logo-container #logo path:nth-child(6) {
  stroke-dasharray: 343.8;
  stroke-dashoffset: 343.8;
  animation: logoEnter 3s forwards ease-out;
}
#home header .logo-container #logo path:nth-child(7) {
  stroke-dasharray: 416.1px;
  stroke-dashoffset: 416.1px;
  animation: logoEnter 3s forwards ease-out;
}
#home header .logo-container #logo path:nth-child(8) {
  stroke-dasharray: 399.5px;
  stroke-dashoffset: 399.5px;
  animation: logoEnter 3s forwards ease-out;
  stroke-dashoffset: 350px;
}
#home header .logo-container #logo path:nth-child(9) {
  stroke-dasharray: 214.5px;
  stroke-dashoffset: 214.5px;
  animation: logoEnter 3s forwards ease-out;
}
#home header .logo-container #logo path:nth-child(10) {
  stroke-dasharray: 65.2px;
  stroke-dashoffset: 65.2px;
  animation: logoEnter 3s forwards ease-out;
}
#home header .logo-container #logo path:nth-child(11) {
  stroke-dasharray: 220.5px;
  stroke-dashoffset: 220.5px;
  animation: logoEnter 3s forwards ease-out;
}
#home header .logo-container #logo path:nth-child(12) {
  stroke-dasharray: 343.8px;
  stroke-dashoffset: 343.8px;
  animation: logoEnter 3s forwards ease-out;
}
@keyframes logoEnter {
  to {
    stroke-dashoffset: 0;
  }
}
#home header .header-text {
  height: 30%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "courier new", Courier, monospace;
  font-size: 1.5rem;
  color: #fefefe;
  justify-content: center;
}
#home header .header-text .header-line {
  height: 1px;
  width: 100%;
  background: linear-gradient(to right, blueviolet, deeppink);
  opacity: 0;
}
@media screen and (min-width: 1300px) {
  #home header .header-text .header-line {
    width: 44%;
  }
}
#home header .header-text .p-wrapper {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
#home header .header-text .p-wrapper .p-header {
  font-size: 1.5rem;
  opacity: 0;
  white-space: nowrap;
}
#home header .header-text .p-wrapper span {
  display: none;
}
#home header .arrow-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-100%);
}
#home header .arrow-container .arrow {
  transform: rotate(90deg);
  font-family: "Courier New", Courier, monospace;
  font-weight: light;
  font-size: 2.5rem;
  color: #fefefe;
  opacity: 0;
}
@media screen and (min-width: 1300px) {
  #home header .arrow-container .arrow {
    font-size: 4.5rem;
  }
}
@media screen and (min-width: 1300px) {
  #home {
    width: 80vw;
  }
}

.hover-effect {
  border-left: 2px solid transparent;
  transition: all 0.2s;
}

.hover-effect:hover {
  cursor: pointer;
  color: #fefefe;
  border-left: 2px solid deepskyblue;
  background-color: #3e3e42;
}

.tag {
  height: 18px;
  width: 100%;
  padding-left: 1vw;
  font-family: menlo;
  font-size: 0.75rem;
  text-align: left;
  color: #007acc;
  background-color: #1e1e1e;
  z-index: 50;
  border: 1px solid pink;
}
@media screen and (min-width: 700px) {
  .tag {
    border-color: transparent;
  }
}

.tag.hover-effect:hover {
  cursor: default;
  border: 1px solid pink;
  background-color: #1e1e1e;
}

main {
  display: grid;
  grid-template-rows: calc(100vh - 40px) min-content calc(200px * 5) min-content calc(150px + 56px) calc(100vh - 40px - 40px);
  grid-template-columns: 75% 25%;
  grid-row-gap: 1em;
  background-color: #1e1e1e;
  position: relative;
  z-index: 10;
}
main section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
  background-color: #1e1e1e;
}
main section .section-container {
  height: 100%;
}
@media screen and (min-width: 700px) {
  main section .section-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 2.5vw;
    height: 100%;
    width: 0.5px;
    background-color: #3e3e42;
  }
  main section .section-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 98%;
    height: 100%;
    width: 0.5px;
    background-color: #3e3e42;
  }
}
main .cta {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #1e1e1e;
}
main .cta-btn-download,
main .cta-btn-contact {
  height: 30px;
  width: 160px;
  font-family: "play";
  font-size: 1.1rem;
  font-weight: light;
  background-color: #1e1e1e;
  outline: none;
  background-color: #1e1e1e;
  color: aqua;
  border: 0.15em solid aqua;
  border-radius: 5px;
  transition: background-color 0.2s;
}
main .cta-btn-download:hover,
main .cta-btn-contact:hover {
  cursor: pointer;
  color: #1e1e1e;
  background-color: aqua;
}
main #intro {
  grid-row: 1;
  grid-column: 1/3;
  position: relative;
}
main #intro .title {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "hemihead";
  font-size: 1rem;
}
main #intro .title .upper-title,
main #intro .title .lower-title {
  padding: 0 1.5vw 0.15vh;
  white-space: nowrap;
  transition: transform 500ms;
}
main #intro .title .upper-title {
  align-self: flex-start;
}
@keyframes translationL {
  to {
    transform: translateX(110%);
  }
}
main #intro .title .lower-title {
  align-self: flex-end;
}
@keyframes translationR {
  to {
    transform: translateX(-110%);
  }
}
main #intro .title .line {
  height: 1px;
  width: 100%;
  background-color: blueviolet;
}
main #intro .title:hover .line {
  background: linear-gradient(to right, #57d5ff 0%, #0037ad 100%);
}
main #intro .about {
  width: 99.9%;
  height: 40%;
  font-family: "courier new", monospace, serif;
  font-size: 0.75rem;
}
main #intro .about .section-container {
  height: calc(100% - 36px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 5vw;
  transition: all 0.2s;
}
main #intro .about .section-container::after {
  left: 99.9%;
}
main #intro .about .section-container .p-about {
  width: 99.9%;
}
main #intro .about .hover-effect:hover {
  cursor: text;
}
main #intro .about .hover-effect:hover::before {
  background-color: grey;
}
main #intro .about .tag.hover-effect:hover {
  cursor: default;
}
main #intro .stack {
  height: 35%;
  width: 100%;
  background-color: #1e1e1e;
}
main #intro .stack .stack-container {
  height: calc(100% - 36px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 5vw;
}
main #intro .stack .stack-container::after {
  left: 99.9%;
  background-color: #3e3e42;
}
main #intro .stack .stack-container .stacklist-wrapper {
  width: 80%;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #3e3e42;
  display: none;
}
main #intro .stack .stack-container .stacklist-wrapper p {
  width: 100%;
  font-family: "courier new";
  font-size: 0.8rem;
  text-align: center;
}
main #intro .stack .stack-container .tabs {
  border-bottom: 1px solid #3e3e42;
  padding-bottom: 5px;
  font-family: "courier new";
  font-size: 0.9rem;
  color: gray;
}
main #intro .stack .stack-container .tabs .tab {
  padding: 5px 20px;
}
main #intro .stack .stack-container .tabs .tab:hover {
  cursor: pointer;
}
main #intro .stack .stack-container .tab.active {
  color: white;
  background-color: #3e3e42;
  padding: 5px 20px;
}
main #intro .stack .stack-container .active {
  display: flex;
}
main #intro .stack ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #fefefe;
  width: 100%;
  padding-left: 2vw;
}
main #intro .stack ul li i {
  font-size: 1.5rem;
}
main #intro .stack ul:hover::before {
  background-color: gray;
}
main #intro .stack ul:hover i {
  background-color: transparent;
}
main #intro .stack ul:hover li:nth-child(1) i {
  color: #e44d26;
}
main #intro .stack ul:hover li:nth-child(2) i {
  color: #cd6799;
}
main #intro .stack ul:hover li:nth-child(3) i {
  color: #ffff00;
}
main #intro .stack ul:hover li:nth-child(4) i {
  color: #61dbfb;
}
main #intro .stack ul:hover li:nth-child(5) i {
  color: #3c873a;
}
main #intro .stack ul:hover li:nth-child(6) i {
  color: lightgrey;
}
main .cta-download {
  grid-row: 2;
  grid-column: 1/3;
}
main #projects {
  grid-row: 3;
  grid-column: 1/3;
}
main #projects .projects-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
  position: relative;
}
@media screen and (min-width: 700px) {
  main #projects .projects-wrapper {
    width: 90vw;
  }
}
main #projects .projects-wrapper .project {
  height: 210px;
  width: 90vw;
  color: #fefefe;
  background-color: #d4d4d4;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  transition: all 200ms;
  position: relative;
}
@media screen and (min-width: 700px) {
  main #projects .projects-wrapper .project {
    height: 220px;
    width: 80%;
    max-width: 1100px;
    color: #1e1e1e;
    padding-left: 1vw;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  main #projects .projects-wrapper .project:hover .thumbnail:after {
    opacity: 0;
  }
}
main #projects .projects-wrapper .project .fa-expand-alt {
  position: absolute;
  right: 1.5vw;
  top: 2vh;
  font-size: 1.5rem;
  color: #fefefe;
  transition: transform 200ms;
  z-index: 5;
}
main #projects .projects-wrapper .project .fa-expand-alt:hover {
  cursor: pointer;
  transform: scale(1.1);
}
@media screen and (min-width: 700px) {
  main #projects .projects-wrapper .project .fa-expand-alt {
    color: #3e3e42;
  }
}
main #projects .projects-wrapper .project .thumbnail {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  mix-blend-mode: multiply;
  position: absolute;
  top: 0;
  z-index: 3;
}
main #projects .projects-wrapper .project .thumbnail::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  background-color: rgba(93, 92, 92, 0.9);
  transition: all 0.5s;
}
@media screen and (min-width: 700px) {
  main #projects .projects-wrapper .project .thumbnail {
    height: 190px;
    width: 320px;
    position: relative;
  }
}
main #projects .projects-wrapper .project .thumbnail img {
  height: 100%;
  width: 100%;
}
@media screen and (min-width: 700px) {
  main #projects .projects-wrapper .project .thumbnail img {
    height: 190px;
    width: 310px;
  }
}
main #projects .projects-wrapper .project .pitch-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 0 1vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  z-index: 4;
}
@media screen and (min-width: 700px) {
  main #projects .projects-wrapper .project .pitch-container {
    position: relative;
    display: flex;
  }
}
main #projects .projects-wrapper .project .pitch-container .project-title {
  font-family: "hemihead";
}
main #projects .projects-wrapper .project .pitch-container .pitch {
  font-family: play;
  font-size: 1rem;
}
main #projects .projects-wrapper .project .pitch-container .technologies {
  font-family: "courier new", sans-serif;
}
main #projects .projects-wrapper .project .pitch-container .project-links {
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  align-self: flex-start;
}
main #projects .projects-wrapper .project .pitch-container .project-links a {
  color: #fefefe;
  transition: transform 0.2s;
}
main #projects .projects-wrapper .project .pitch-container .project-links a:hover {
  cursor: pointer;
  background-color: transparent;
}
main #projects .projects-wrapper .project .pitch-container .project-links a i {
  font-size: 2rem;
}
main #projects .projects-wrapper .project .pitch-container .project-links a .project-live,
main #projects .projects-wrapper .project .pitch-container .project-links a .project-github {
  position: absolute;
  bottom: 2px;
  transform: translateX(-130%);
  font-size: 0.9rem;
  text-decoration: underline;
}
main #projects .projects-wrapper .project .pitch-container .project-links a .project-github {
  transform: translateX(-85%);
}
main #projects .projects-wrapper .project .pitch-container .project-links a .inactive {
  color: gray;
}
main #projects .projects-wrapper .project:nth-child(1) .project-links a {
  color: red;
}
main #projects .projects-wrapper .project:nth-child(2) .project-links a {
  color: deeppink;
}
main #projects .projects-wrapper .project:nth-child(3) .project-links a {
  color: deepskyblue;
}
main #projects .projects-wrapper .project:nth-child(4) .project-links a {
  color: #fb4700da;
}
main #projects .projects-wrapper .project:nth-child(5) .project-links a {
  color: #1e1e1e;
}
main #projects .projects-wrapper .project .clone {
  background-color: transparent;
  position: absolute;
  z-index: 100;
}
main #projects .projects-wrapper .hover-effect {
  border: none;
}
main #projects .projects-wrapper .hover-effect:hover {
  border: none;
  cursor: default;
}
main .cta-contact {
  grid-row: 4;
  grid-column: 1/3;
}
main #more {
  grid-row: 5;
  grid-column: 1/3;
}
main #more .more-container::before, main #more .more-container::after {
  display: none;
}
main #more .more-wrapper {
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main #more .more-wrapper #canvas {
  border: 1px solid grey;
}
main #more .more-wrapper #canvas:hover {
  cursor: pointer;
  border: 1px solid #fefefe;
}
main #contact {
  grid-row: 6;
  grid-column: 1/3;
}
main #contact .contact-wrapper {
  height: 100%;
  background-color: #1e1e1e;
  margin: 0 7vw;
}

footer {
  height: 40px;
  font-family: "courier new";
  font-size: 0.75rem;
  color: grey;
  z-index: 1000;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 1300px) {
  footer {
    width: 100vw;
  }
}

/*# sourceMappingURL=styles.css.map */
