//////////////////////////////////
//           FONTS
//////////////////////////////////

@font-face {
  font-family: "courier-new";
  src: url("../fonts/cour.ttf");
}
@font-face {
  font-family: "hemihead";
  src: url("../fonts/hemihead.ttf");
}
@font-face {
  font-family: "menlo";
  src: url("../fonts/Menlo-Regular.woff");
}

@font-face {
  font-family: "play";
  src: url("../fonts/Play-Regular.ttf");
}
@font-face {
  font-family: "proto";
  src: url("../fonts/Prototype.ttf");
}
@font-face {
  font-family: "monaco";
  src: url("../fonts/Mocano.woff");
}
//////////////////////////////////
//      VARIABLES
//////////////////////////////////

$editor-background: #1e1e1e;
$white-primary: #fefefe;
$blue-primary: #007acc;
$blue-navbar: #0037ad;
$tomato-primary: #f48771;
$grey-primary: #3e3e42;
$editor-foreground: #d4d4d4;
$font-primary: "hemihead";
$navbar-height: 40px;
$banner-height: 30vh;
$border-radius: 5px;
$intro-height: calc(100vh - #{$navbar-height});
$title-height: 300px;
$about-height: 40vh;
$stack-height: 30vh;
$projects-height: calc(200px * 6);
$more-height: calc(150px + 56px);
$footer-height: 40px;
$contact-height: calc(100vh - #{$navbar-height} - #{$footer-height} - 1em);

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin section {
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    background-color: $editor-background;
    // border: 2px solid white;
    .section-container {
      height: 100%;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 2.5vw;
        height: 100%;
        width: 0.5px;
        background-color: $grey-primary;
      }
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 98%;
        height: 100%;
        width: 0.5px;
        background-color: $grey-primary;
      }
    }
  }
}
//////////////////////////////////
//      HTML - BODY
//////////////////////////////////

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  height: 100%;
}

body {
  min-height: 100%;
  width: 100%;
  background-color: $editor-background;
  overflow-x: hidden;
  border: 1px solid red;
  color: $white-primary;
  .body-container {
    @include section;
    background-color: transparent;
    position: relative;
    border: 1px solid yellow;
    @media screen and (min-width: 1300px) {
      padding: 0 10vw;
    }
  }
}

.loader-container {
  height: 100vh;
  width: 100vw;
  background-color: yellow;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  .loader {
    height: 300px;
    width: 300px;
    border-top: 2px solid blueviolet;
    border-right: 2px solid #ad2ae90c;
    border-bottom: 2px solid #ad2ae90c;
    border-left: 2px solid blueviolet;
    border-radius: 50%;

    animation: border 1s infinite ease-in-out;
    @keyframes border {
      to {
        transform: rotate(360deg);
      }
    }
  }
}

.fullpage {
  background-color: rgba(128, 128, 128, 0.739);
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 1000;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  .expand-container {
    position: absolute;
    // margin: 0 auto;
    height: 80%;
    width: 70%;
    z-index: 1001;
    // border: 1px solid black;
    color: black;
    background-color: $white-primary;
  }
  .fa-times {
    font-size: 3rem;
    color: $white-primary;
    position: absolute;
    right: -30px;
  }
}

//////////////////////////////////
//     NAVIGATION BAR
//////////////////////////////////

nav {
  position: fixed;
  top: 0;
  // height: $navbar-height;
  // min-height: $navbar-height;
  height: 30px;
  width: 100%;
  border: 1px solid tomato;
  // width: 100vw;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  transition: background-color 0.2s;
  .flags-container {
    position: absolute;
    top: 0;
    height: 45px;
    width: 155px;
    margin-left: 2vw;
    padding: 1vh 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    opacity: 0;

    .flag {
      height: 20px;
      width: 45px;
      font-family: "courier", sans-serif;
      font-size: 1rem;
      font-weight: light;
      letter-spacing: 0.1rem;
      color: $white-primary;
      transition: all 0.6s;
      text-align: center;
      border-right: 1px solid $white-primary;
      &:hover {
        cursor: pointer;
        color: yellow;
      }
    }
  }

  .brand-name {
    font-family: hemihead;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    // margin-left: 200px;
    opacity: 0;
    transform: translateY(150%);
    transition: transform 200ms;
  }

  .link-wrapper {
    height: 100%;
    width: 100px;
    display: none;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    // margin-right: 2vw;
    transition: transform 350ms;
    transform: translateY(1.75vh);
    // border: 1px solid white;

    .link {
      opacity: 1;
      text-decoration: none;
      height: 100%;
      width: 100%;
      @include flex-column-center;
      justify-content: center;
      // border: 1px solid pink;

      i {
        font-size: 1.5rem;
        color: $white-primary;
        transition: transform 750ms;
        // border: 1px solid white;
        &:hover {
          color: rgba(255, 255, 255, 0.5);
          cursor: pointer;
        }
      }
    }
  }
}

//////////////////////////////////
//           HOME
//////////////////////////////////

#home {
  .home-container {
    width: 100%;
    padding: 0;
    display: grid;
    grid-template-rows: minmax(150px, $banner-height) calc(
        100vh - #{$banner-height}
      );
    position: relative;

    @media screen and (min-width: 1300px) {
      width: 80vw;
    }
    border: 2px solid greenyellow;

    //////////////////////////////////
    //      STARS
    //////////////////////////////////

    //////////////////////////////////
    //      RAINBOW SUN
    //////////////////////////////////

    .sky-container {
      position: fixed;
      width: 100%;
      height: $banner-height;
      background: rgb(30, 30, 30);
      background: linear-gradient(
        0deg,
        rgba(23, 51, 138, 1) 0%,
        rgba(30, 30, 30, 1) 100%
      );
      opacity: 0;
      z-index: 0;
      border: 5px solid blue;
      animation: lightup 3s forwards;
      @keyframes lightup {
        to {
          opacity: 1;
        }
      }

      .circle-container {
        height: $banner-height;
        min-width: 100%;
        min-height: 150px;
        z-index: 5;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        position: relative;
        border: 5px solid orange;

        #svg-rainbow {
          // position: absolute;
          transform: translateY(100%);
          opacity: 0;
          animation: rise 3s forwards;
          // border: 1px solid yellow;
          @keyframes rise {
            to {
              transform: translateY(10%);
              opacity: 1;
            }
          }
          // animation: turn 1s infinite;
          // @keyframes turn {
          //   to {
          //     transform: rotate(360deg);
          //   }
          // }
        }
      }
      @media screen and (min-width: 1300px) {
        width: 80vw;
      }
    }
  }

  .sky-placeholder {
    grid-row: 1;
    grid-column: 1/3;
    background-color: red;
  }

  //////////////////////////////////
  //            HEADER
  //////////////////////////////////

  header {
    grid-row: 2;
    grid-column: 1/3;
    height: calc(100vh - #{$banner-height});
    min-height: $banner-height;
    background-color: $editor-background;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    // padding: 50px 0;
    border: 10px solid rgb(148, 148, 147);
    // padding: 3vh;
    .logo-container {
      // border: 1px solid rgb(148, 148, 147);
      margin-top: -20%;
      #logo {
        // border: 1px solid rgb(148, 148, 147);

        path {
          stroke: red;
          stroke-width: 1;
        }
        path:nth-child(1) {
          stroke-dasharray: 339.3;
          stroke-dashoffset: 339.3;
          animation: logoEnter 3s forwards ease-out;
        }
        path:nth-child(2) {
          stroke-dasharray: 220.5;
          stroke-dashoffset: 220.5;
          animation: logoEnter 3s forwards ease-out;
        }

        path:nth-child(3) {
          stroke-dasharray: 497.9;
          stroke-dashoffset: 497.9;
          animation: logoEnter 3s forwards ease-out;
        }
        path:nth-child(4) {
          stroke-dasharray: 389.4;
          stroke-dashoffset: 389.4;
          animation: logoEnter 3s forwards ease-out;
        }
        path:nth-child(5) {
          stroke-dasharray: 286.3;
          stroke-dashoffset: 286.3;
          animation: logoEnter 3s forwards ease-out;
        }
        path:nth-child(6) {
          stroke-dasharray: 343.8;
          stroke-dashoffset: 343.8;
          animation: logoEnter 3s forwards ease-out;
        }
        path:nth-child(7) {
          stroke-dasharray: 416.1px;
          stroke-dashoffset: 416.1px;
          animation: logoEnter 3s forwards ease-out;
        }
        path:nth-child(8) {
          stroke-dasharray: 399.5px;
          stroke-dashoffset: 399.5px;
          animation: logoEnter 3s forwards ease-out;
          stroke-dashoffset: 350px;
        }
        path:nth-child(9) {
          stroke-dasharray: 214.5px;
          stroke-dashoffset: 214.5px;
          animation: logoEnter 3s forwards ease-out;
        }
        path:nth-child(10) {
          stroke-dasharray: 65.2px;
          stroke-dashoffset: 65.2px;
          animation: logoEnter 3s forwards ease-out;
        }
        path:nth-child(11) {
          stroke-dasharray: 220.5px;
          stroke-dashoffset: 220.5px;
          animation: logoEnter 3s forwards ease-out;
        }
        path:nth-child(12) {
          stroke-dasharray: 343.8px;
          stroke-dashoffset: 343.8px;
          animation: logoEnter 3s forwards ease-out;
        }

        @keyframes logoEnter {
          to {
            stroke-dashoffset: 0;
          }
        }
      }
    }

    .header-text {
      height: 30%;
      width: 50%;
      @include flex-column-center;
      font-family: "courier new", Courier, monospace;
      font-size: 1.5rem;
      color: $white-primary;
      justify-content: center;
      border: 1px solid red;
      .header-line {
        height: 1px;
        width: 100%;
        // margin-bottom: -0.6rem;
        background: linear-gradient(to right, orange, deeppink);
        opacity: 0;
        @media screen and (min-width: 1300px) {
          width: 44%;
        }
      }
      .p-wrapper {
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        // border: 1px solid yellow;
        // padding: 12px;
        .p-header {
          font-size: 1rem;
          // margin: 0 5%;
          opacity: 0;
          white-space: nowrap;
        }
        span {
          display: none;
        }
      }
    }

    //////////////////////////////////
    //              ARROW
    //////////////////////////////////
    .arrow-container {
      @include flex-column-center;
      justify-content: center;
      transform: translateY(-100%);

      .arrow {
        // height: 100%;
        // width: 100%;
        transform: rotate(90deg);
        font-family: "Courier New", Courier, monospace;
        font-weight: light;
        font-size: 2.5rem;
        color: dimgray;
        // margin: 20px 0 0 1vh;
        opacity: 0;
        // border: 1px solid red;

        @media screen and (min-width: 1300px) {
          font-size: 4.5rem;
        }
      }
    }
  }
  @media screen and (min-width: 1300px) {
    width: 80vw;
  }
}

//////////////////////////////////
//        TAGS
//////////////////////////////////

.tag {
  height: 28px;
  width: 100%;
  padding-left: 1vw;
  font-family: menlo;
  font-size: 0.75rem;
  text-align: left;
  color: $blue-primary;
  background-color: $editor-background;
  z-index: 50;
  border: 1px solid transparent;
}

.tag.hover-effect:hover {
  cursor: default;
  border: 1px solid pink;
  background-color: $editor-background;
}

//////////////////////////////////
//            MAIN
//////////////////////////////////

main {
  @include section;
  display: grid;
  grid-template-rows: $intro-height $projects-height min-content $more-height $contact-height;
  grid-template-columns: 75% 25%;
  grid-row-gap: 1em;
  background-color: $editor-background;
  position: relative;
  z-index: 10;
  border: 10px solid tomato;

  //   //////////////////////////////////
  //   //        HOVER EFFECT
  //   //////////////////////////////////
  //   .hover-effect {
  //     border-left: 2px solid transparent;
  //     transition: all 0.2s;
  //   }
  //   .hover-effect:hover {
  //     cursor: pointer;
  //     color: $white-primary;
  //     border-left: 2px solid deepskyblue;
  //     background-color: $grey-primary;
  //   }

  //////////////////////////////////
  //            CTA BUTTONS
  //////////////////////////////////
  .cta {
    background-color: $editor-background;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    // border: 1px solid white;
  }

  .cta-btn {
    height: 30px;
    width: 160px;
    font-family: "play";
    font-size: 1.1rem;
    font-weight: light;
    background-color: $editor-background;
    outline: none;
    background-color: aqua;
    color: $editor-background;
    border: 0.15em solid aqua;
    border-radius: $border-radius;
    transition: background-color 0.2s;
    &:hover {
      cursor: pointer;
      border-color: aqua;
      color: aqua;
      background-color: $editor-background;
    }
  }

  //////////////////////////////////
  //            TITLE
  //////////////////////////////////
  #intro {
    grid-row: 1;
    grid-column: 1/3;
    @include section;
    align-items: flex-start;
    position: relative;
    display: grid;
    grid-template-rows: 1fr 30% max-content min-content;
    grid-template-columns: 75% 25%;
    grid-row-gap: 1em;
    align-items: center;

    .title {
      grid-row: 1;
      grid-column: 1/3;
      @include flex-column-center;
      justify-content: center;
      font-family: $font-primary;
      font-size: 1rem;
      color: rgb(171, 170, 170);

      border: 1px solid greenyellow;
      .upper-title,
      .lower-title {
        padding: 0 1.5vw 0.15vh;
        white-space: nowrap;
        transition: transform 500ms;
      }

      .upper-title {
        align-self: flex-start;
        // transform: translateX(6vw);
        // animation: translationL 7s infinite alternate ease-in;
        @keyframes translationL {
          to {
            transform: translateX(110%);
          }
        }
      }
      .lower-title {
        align-self: flex-end;
        // transform: translateX(-6vw);
        // animation: translationR 7s infinite alternate ease-in;
        @keyframes translationR {
          to {
            transform: translateX(-110%);
          }
        }
      }
      .line {
        height: 1px;
        width: 100%;
        background-color: blueviolet;
      }
      &:hover {
        .line {
          background: linear-gradient(
            to right,
            rgb(87, 213, 255) 0%,
            $blue-navbar 100%
          );
        }
      }
    }

    //////////////////////////////////
    //            ABOUT
    //////////////////////////////////

    .about {
      grid-row: 2;
      grid-column: 1/3;
      font-family: "courier new", monospace, serif;
      font-size: 0.75rem;
      color: grey;
      border: 1px solid greenyellow;
      .section-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding-left: 5vw;
        transition: all 0.2s;
        width: 99.9%;
        // height: 30vh;
        // border: 2px solid red;
        &::after {
          left: 99.9%;
        }
        .p-about {
          width: 99.9%;
        }
      }

      .hover-effect:hover {
        cursor: text;
        &::before {
          background-color: grey;
        }
      }
      .tag.hover-effect:hover {
        cursor: default;
      }
    }

    //////////////////////////////////
    //            STACK
    //////////////////////////////////

    .stack {
      grid-row: 3;
      grid-column: 1/3;
      width: 100%;
      .stack-container {
        height: 15vh;
        display: flex;
        flex-wrap: wrap;
        align-self: center;
        justify-content: center;
        border: 1px solid greenyellow;
        &::after {
          left: 99.9%;
          background-color: $grey-primary;
        }
      }

      ul {
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        li {
          i {
            font-size: 1rem;
            color: rgb(188, 185, 185);
          }
        }
      }
      .stack-left {
        width: 100%;
        padding-left: 5vw;
        align-items: center;
        justify-content: space-evenly;
      }
      .stack-middle,
      .stack-right {
        width: 100%;
        color: white;
        border-left: 1px solid $grey-primary;
      }
      .hover-effect:hover {
        &::before {
          background-color: gray;
        }
        .stack-middle,
        .stack-right {
          border-left: 1px solid $grey-primary;
        }
        i {
          background-color: transparent;
        }
        li:nth-child(1) {
          i {
            color: #e44d26;
          }
        }
        li:nth-child(2) {
          i {
            color: #cd6799;
          }
        }
        li:nth-child(3) {
          i {
            color: #ffff00;
          }
        }
        li:nth-child(4) {
          i {
            color: #61dbfb;
          }
        }
        li:nth-child(5) {
          i {
            color: #3c873a;
          }
        }
        li:nth-child(6) {
          i {
            color: lightgrey;
          }
        }
      }
    }
    .cta-download {
      grid-row: 4;
      grid-column: 1/3;
      // border: 1px solid greenyellow;
    }

    //////////////////////////////////
    //            GIF
    //////////////////////////////////

    .gif {
      position: absolute;
      left: 76%;
      top: 27vh;
      border-radius: 50%;
      height: 200px;
      width: 220px;
      .facegif {
        height: 195px;
        width: 215px;
        border-radius: 50%;
        border: 1px solid blueviolet;
      }
      @media screen and (min-width: 1300px) {
        left: 78%;
        top: 30vh;
      }
    }
  }

  //   //////////////////////////////////
  //   //        PROJECTS
  //   //////////////////////////////////

  #projects {
    grid-row: 2;
    grid-column: 1/3;
    border: 10px solid greenyellow;

    .projects-wrapper {
      height: 100%;
      @include flex-column-center;
      justify-content: space-evenly;
      list-style-type: none;
      position: relative;
      .project {
        height: 210px;
        width: 80%;
        color: $white-primary;
        background-color: $grey-primary;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        transition: all 200ms;
        position: relative;
        // border: 10px solid pink;
        .fa-expand-alt {
          position: absolute;
          right: 1.5vw;
          top: 2vh;
          font-size: 1.5rem;
          color: $grey-primary;
          transition: transform 200ms;
          &:hover {
            transform: scale(1.1);
          }
        }
        .thumbnail {
          padding: 0 1vw;
          display: flex;
          flex-direction: column;
          img {
            height: 95px;
            width: 160px;
            border: 1px solid $white-primary;
          }
        }
        .pitch-container {
          height: 190px;
          width: 100%;
          padding: 0 1vw;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-evenly;
          // border: 1px solid $white-primary;
          .project-title {
            font-family: $font-primary;
          }
          .pitch {
            font-family: play;
            font-size: 0.5rem;
          }
          .technologies {
            font-family: "courier new", sans-serif;
          }
          .project-links {
            width: 80px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: white;
            align-self: flex-start;
            // border: 1px solid red;
            a {
              text-decoration: none;
              color: $white-primary;
              i {
                text-decoration: none;
                font-size: 2rem;
              }
              .project-live,
              .project-github {
                position: absolute;
                bottom: 2px;
                transform: translateX(-130%);
                font-size: 0.9rem;
                text-decoration: underline;
              }
              .project-github {
                transform: translateX(-85%);
              }
              .inactive {
                color: gray;
                text-decoration: none;
                // transform: translateY(1px);
              }
            }
          }
        }
        .clone {
          background-color: $tomato-primary;
          position: absolute;
          z-index: 100;
        }
      }
      .hover-effect:hover {
        color: black;
        background-color: #fefefe;
        border-left: 2px solid transparent;
        // transform: translateY(-0.5vh);
        img {
          border: 1px solid lightgrey;
        }
        .thumbnail::after {
          border: 1px solid transparent;
        }
        &:nth-child(1) {
          .project-links a {
            color: red;
          }
        }
        &:nth-child(2) {
          .project-links a {
            color: deeppink;
          }
        }
        &:nth-child(3) {
          .project-links a {
            color: deepskyblue;
          }
        }
        &:nth-child(4) {
          .project-links a {
            color: #fb4700da;
          }
        }
        &:nth-child(5) {
          .project-links a {
            color: $editor-background;
          }
        }
      }
    }
  }

  .cta-contact {
    grid-row: 3;
    grid-column: 1/3;
  }

  //   //////////////////////////////////
  //   //            MORE
  //   //////////////////////////////////

  #more {
    grid-row: 4;
    grid-column: 1/3;
    border: 1px solid orange;
    .more-container {
      &::before,
      &::after {
        display: none;
      }
    }
    .more-wrapper {
      height: 100%;
      color: white;
      @include flex-column-center;
      justify-content: center;
      #canvas {
        border: 1px solid grey;
        &:hover {
          cursor: pointer;
          border: 1px solid $white-primary;
        }
      }
    }
  }
  // }
  // //////////////////////////////////
  // //            CONTACT
  // //////////////////////////////////
  #contact {
    grid-row: 5;
    grid-column: 1/3;
    .contact-wrapper {
      height: 100%;
      background-color: $editor-background;
      margin: 0 7vw;
      // border: 1px solid turquoise;
    }
  }
}
// //////////////////////////////////
// //            FOOTER
// //////////////////////////////////

footer {
  // position: absolute;
  // bottom: 0;
  height: $footer-height;
  // padding: 0 2vw 0 1vw;
  font-family: "courier new";
  font-size: 0.75rem;
  // white-space: nowrap;
  color: grey;
  border-top: 5px solid yellow;
  z-index: 1000;
  // background-color: $white-primary;
  display: flex;
  align-items: center;
  // justify-content: space-between;
  // p:nth-child(1) {
  //   width: calc(100vw / 3);
  //   text-align: left;
  // }
  // p:nth-child(2) {
  //   width: calc(100vw / 3);
  //   text-align: center;
  // }
  // p:nth-child(3) {
  //   width: calc(100vw / 3);
  //   text-align: right;
  //   margin-right: 1vw;
  // }
  @media screen and (min-width: 1300px) {
    width: 100vw;
  }
}
