@use "globals";
@use "fonts";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  height: 100%;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: globals.$editor-background;
  font-family: hemihead;
  color: globals.$white-primary;
  overflow: hidden;
  @include globals.flex-column-center();
  justify-content: space-evenly;
  .margin__left,
  .margin__right {
    display: none;
  }
  @media screen and (min-width: 1024px) {
    .margin__left,
    .margin__right {
      height: 310px;
      width: 30px;
      @include globals.flex-column-center();
      justify-content: center;
      gap: 20px;
      position: fixed;
      bottom: 0;
      left: 5%;
      transform: translateX(-50%);
      border-top: 1px solid transparent;
      border-left: 1px solid transparent;
      border-right: 1px solid transparent;
      border-radius: globals.$border-radius;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      background-color: globals.$grey-primary;
      transition: all 200ms;
      &:hover {
        cursor: pointer;
        color: globals.$white-primary;
        border-color: globals.$blue-primary;
        .link-wrapper i {
          color: globals.$white-primary;
        }
      }
    }
    .margin__left {
      justify-content: space-evenly;
      &:hover {
        cursor: default;
      }
    }
    .margin__right {
      left: 95%;
      text-transform: uppercase;
      font-size: 0.8rem;
      font-family: "Courier new";
      color: rgba(255, 255, 255, 0.5);
      .mail-link {
        @include globals.flex-column-center();
        // border: 1px solid yellow;
      }
    }
    .link-wrapper {
      display: none;
      list-style-type: none;
      @media screen and (min-width: 768px) {
        height: 95%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        // border: 1px solid yellow;
      }
      .link {
        height: 100%;
        width: 100%;
        padding: 5px;
        // border: 1px solid yellow;
        @include globals.flex-column-center;
        justify-content: flex-end;
        opacity: 1;
        text-decoration: none;
        transition: all 200ms;
        i {
          font-size: 1rem;
          transition: all 200ms;
          color: rgba(255, 255, 255, 0.5);
        }
        &:hover {
          cursor: pointer;
          transform-origin: center;
          i {
            color: globals.$blue-primary;
          }
        }
      }
    }
  }
}

h1 {
  font-size: 5rem;
  text-transform: uppercase;
}
.circle {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  background: linear-gradient(to right, globals.$blue-primary, deeppink);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: turn 250ms linear infinite;
  &::after {
    content: "";
    position: absolute;
    height: 90%;
    width: 90%;
    border-radius: 50%;
    background-color: globals.$editor-background;
  }
  span {
    height: 100%;
    width: 100%;
    position: absolute;
    background: linear-gradient(to right, globals.$blue-primary, deeppink);
    border-radius: 50%;
    filter: blur(5px);
    &:nth-child(2) {
      filter: blur(10px);
    }
    &:nth-child(3) {
      filter: blur(15px);
    }
    &:nth-child(4) {
      filter: blur(20px);
    }
  }

  @media screen and (min-width: 768px) {
    height: 250px;
    width: 250px;
  }
  @media screen and (min-width: 768px) and (orientation: portrait) {
    height: 350px;
    width: 350px;
  }
  @media screen and (min-width: 1024px) {
    height: 280px;
    width: 280px;
  }
  @media screen and (min-width: 1024px) and (orientation: portrait) {
    height: 450px;
    width: 450px;
  }
  @media screen and (min-width: 1400px) {
    height: 360px;
    width: 360px;
  }
  @media screen and (orientation: landscape) and (max-height: 400px) {
    height: 150px;
    width: 150px;
    gap: 20px;
  }
}
@keyframes turn {
  to {
    transform: rotate(-360deg);
  }
}

p {
  font-family: play;
  font-size: 1.5rem;
  text-align: center;
  a {
    color: globals.$blue-primary;
    transition: color 500ms;
    &:hover {
      cursor: pointer;
      color: deeppink;
    }
  }
}
