@use "globals";
///////////////////////////////////////////////////////////////////////////////////////////////
//                                           ABOUT
///////////////////////////////////////////////////////////////////////////////////////////////

#about {
  height: 50vh;
  width: 100%;
  font-family: play;
  font-size: 0.8rem;
  line-height: 1.2rem;
  letter-spacing: 1px;
  color: globals.$editor-foreground;
  @include globals.flex-column-center();
  // border: 1px solid red;
  @media screen and (min-width: 768px) {
    font-size: 1rem;
  }
  @media screen and (min-width: 1400px) {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
  .section-container {
    height: 100%;
    width: 100%;
    position: relative;
    // border: 1px solid yellow;
    @include globals.flex-column-center;
    align-items: flex-start;
    justify-content: center;
    @media screen and (min-width: 768px) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
    @media screen and (min-width: 1400px) {
      padding: 0 75px;
    }
    .p-container {
      height: 250px;
      width: 45ch;
      overflow: hidden;
      // border: 1px solid red;
      scroll-behavior: smooth;
      @media screen and (min-width: 768px) {
        width: 58ch;
      }
    }
    .p-about {
      height: 250px;
      padding: 10px 0; // overflow: hidden;
      // border: 1px solid yellow;
      transition: transform 200ms;
    }
    .gif {
      border-radius: globals.$border-radius;
      height: 200px;
      width: 220px;
      display: none;
      .facegif {
        height: 200px;
        width: 220px;
        border-radius: 50px;
        // border: 1px solid globals.$blue-primary;
      }
      @media screen and (min-width: 768px) {
        display: block;
      }
    }
  }
  .cta-btn-more {
    position: absolute;
    bottom: 10%;
    left: 25%;
    width: 100px;
    &:hover {
      .p-about {
        // transform: translateY(-300px);
        color: red;
      }
    }
  }

  &:hover {
    cursor: text;
  }
  ///////////////////////////////////////////////////////////////////////////////////////////////
  //                                     GIF
  ///////////////////////////////////////////////////////////////////////////////////////////////
}
