///////////////////////////////////////////////////////////////////////////////////////////////
//                                      VARIABLES
///////////////////////////////////////////////////////////////////////////////////////////////

$editor-background: #1e1e1e;
$white-primary: #fefefe;
$blue-primary: #1a8cfe;
$blue-navbar: #0037ad;
$tomato-primary: #f48771;
$grey-primary: #3e3e42;
$grey-primary: #333333;
$editor-foreground: #d4d4d4;
$font-primary: "hemihead";
$navbar-height: 40px;
$banner-height: 30vh;
$border-radius: 5px;
$info-height: max-content;
$title-height: 20%;
// $about-height: 40%;
// $stack-height: 40%;
$projects-height: inherit;
$more-height: max-content;
$footer-height: 40px;
$contact-height: calc(100vh - #{$navbar-height});

@mixin hamburger {
  position: absolute;
  top: 0;
  right: 5px;
  fill: $white-primary;
  // border: 1px solid red;
  @media screen and (min-width: 700px) {
    display: none;
  }
}

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// @mixin section {
// }
