@use "globals";
///////////////////////////////////////////////////////////////////////////////////////////////
//                                           HOME
///////////////////////////////////////////////////////////////////////////////////////////////

#home {
  .home-container {
    @include globals.flex-column-center;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
    position: relative;
  }

  ///////////////////////////////////////////////////////////////////////////////////////////////
  //                                    HEADER
  ///////////////////////////////////////////////////////////////////////////////////////////////

  header {
    transform: translateY(50%);
    // border: 1px solid red;

    .circle {
      height: 200px;
      width: 200px;
      border-radius: 50%;
      background: linear-gradient(to right, globals.$blue-primary, deeppink);
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      // animation: turn 300ms linear infinite;

      &::after {
        content: "";
        position: absolute;
        height: 90%;
        width: 90%;
        border-radius: 50%;
        background-color: globals.$editor-background;
      }
    }
    @keyframes turn {
      to {
        transform: rotate(360deg);
      }
    }
  }

  ///////////////////////////////////////////////////////////////////////////////////////////////
  //                                    ARROW
  ///////////////////////////////////////////////////////////////////////////////////////////////
  .arrow-container {
    .arrow {
      font-family: "Courier New", Courier, monospace;
      font-weight: light;
      font-size: 3rem;
      color: globals.$white-primary;
      opacity: 0;
      @media screen and (min-width: 1300px) {
        font-size: 4.5rem;
      }
    }
  }
}
