@use "globals";
///////////////////////////////////////////////////////////////////////////////////////////////
//                                           HOME
///////////////////////////////////////////////////////////////////////////////////////////////

#home {
  height: 100vh;
  width: 100%;
  .home-container {
    height: inherit;
    min-height: 600px;
    width: inherit;
    @include globals.flex-column-center;
    justify-content: space-evenly;
    position: relative;
    gap: 40px;
    padding-top: 40px;
    // border: 1px solid red;
    @media screen and (orientation: landscape) and (max-height: 500px) {
      min-height: 0;
      padding-top: 20px;
      gap: 10px;
    }
  }

  ///////////////////////////////////////////////////////////////////////////////////////////////
  //                                    HEADER
  ///////////////////////////////////////////////////////////////////////////////////////////////

  header {
    // transform: translateY(50%);
    // border: 1px solid red;
    // border: 1px solid white;

    .circle {
      height: 200px;
      width: 200px;
      border-radius: 50%;
      background: globals.$gradient;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      animation: turn 1000ms linear infinite;
      &::after {
        content: "";
        position: absolute;
        height: 90%;
        width: 90%;
        border-radius: 50%;
        background-color: globals.$editor-background;
      }
      span {
        height: 100%;
        width: 100%;
        position: absolute;
        background: globals.$gradient;
        border-radius: 50%;
        filter: blur(5px);
        &:nth-child(2) {
          filter: blur(10px);
        }
        &:nth-child(3) {
          filter: blur(15px);
        }
        &:nth-child(4) {
          filter: blur(20px);
        }
      }

      @media screen and (min-width: 768px) {
        height: 250px;
        width: 250px;
      }
      @media screen and (min-width: 768px) and (orientation: portrait) {
        height: 350px;
        width: 350px;
      }
      @media screen and (min-width: 1024px) {
        height: 280px;
        width: 280px;
      }
      @media screen and (min-width: 1024px) and (orientation: portrait) {
        height: 450px;
        width: 450px;
      }
      @media screen and (min-width: 1400px) {
        height: 360px;
        width: 360px;
      }
      @media screen and (orientation: landscape) and (max-height: 400px) {
        height: 150px;
        width: 150px;
        gap: 20px;
      }
    }
    @keyframes turn {
      to {
        transform: rotate(360deg);
      }
    }
  }

  ///////////////////////////////////////////////////////////////////////////////////////////////
  //                                    TITLE
  ///////////////////////////////////////////////////////////////////////////////////////////////

  .title {
    width: 100%;
    max-width: 1000px;
    height: min-content;
    @include globals.flex-column-center;
    align-items: flex-start;
    justify-content: center;
    font-family: globals.$font-primary;
    z-index: 55;
    // color: rgb(171, 170, 170);
    // border: 1px solid white;
    @media screen and (min-width: 1024px) {
      width: 80%;
    }
    .title__intro {
      font-size: 0.9rem;
      font-family: "Courier New";
      font-weight: bolder;
      color: globals.$blue-primary;
      // align-self: flex-start;
      @media screen and (min-width: 768px) {
        font-size: 1.5rem;
      }
    }
    .title__upper,
    .title__lower {
      font-size: 2rem;
      white-space: nowrap;
      transition: transform 500ms;
      // padding: 0 10px;
      @media screen and (min-width: 768px) {
        font-size: 4rem;
      }
    }

    .title__upper {
      // align-self: flex-start;
      // transform: translateX(6vw);
      // animation: translationL 7s infinite alternate ease-in;
      @keyframes translationL {
        to {
          transform: translateX(110%);
        }
      }
    }
    .title__lower {
      // align-self: flex-end;
      // transform: translateX(50%);
      // animation: translationR 7s infinite alternate ease-in;
      @keyframes translationR {
        to {
          transform: translateX(-110%);
        }
      }
      @media screen and (min-width: 1024px) {
        align-self: flex-end;
      }
    }
    .line {
      height: 1px;
      width: 100%;
      background: globals.$blue-primary;
    }
    // &:hover {
    //   .line {
    //     background: linear-gradient(to right, tomato 0%, deeppink 100%);
    //     background: tomato;
    //   }
    // }
  }

  ///////////////////////////////////////////////////////////////////////////////////////////////
  //                                    ARROW
  ///////////////////////////////////////////////////////////////////////////////////////////////

  .arrow-container {
    // transform: translateY(100%);
    .arrow {
      font-family: "Courier New", Courier, monospace;
      font-weight: light;
      font-size: 3rem;
      color: globals.$white-primary;
      opacity: 0;
      @media screen and (min-width: 1300px) {
        font-size: 4.5rem;
      }
    }
  }
}
