@use "globals";
///////////////////////////////////////////////////////////////////////////////////////////////
//                                 NAVIGATION BAR
///////////////////////////////////////////////////////////////////////////////////////////////

nav {
  position: fixed;
  top: 0;
  height: 30px;
  width: 100%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  background-color: transparent;
  transition: background-color 0.2s;
  // .flags-container {
  //   position: absolute;
  //   top: 0;
  //   height: 45px;
  //   width: 155px;
  //   margin-left: 2vw;
  //   padding: 1vh 0;
  //   // display: flex;
  //   flex-direction: row;
  //   justify-content: center;
  //   align-items: center;
  //   opacity: 0;
  //   display: none;
  //   @media screen and (min-width: 700px) {
  //     display: flex;
  //   }
  //   .flag {
  //     height: 20px;
  //     width: 45px;
  //     font-family: "courier", sans-serif;
  //     font-size: 1rem;
  //     font-weight: light;
  //     letter-spacing: 0.1rem;
  //     color: $white-primary;
  //     transition: all 0.6s;
  //     text-align: center;
  //     border-right: 1px solid $white-primary;
  //     &:hover {
  //       cursor: pointer;
  //       color: yellow;
  //     }
  //   }
  // }

  .brand {
    font-family: hemihead;
    font-size: 0.8rem;
    color: white;
    opacity: 0;
    transform: translateY(150%);
    transition: transform 200ms;
    // border: 1px solid pink;
    @media screen and (min-width: 700px) {
      font-size: 1rem;
    }
  }

  .nav__menu {
    display: none;
    @media screen and (min-width: 700px) {
      list-style-type: none;
      width: 300px;
      font-size: 1rem;
      font-family: "Courier new";
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: space-between;
      // border: 1px solid black;
      transform: translateY(20px);
    }
    a {
      text-decoration: none;
      color: globals.$white-primary;
      &:hover {
        color: globals.$editor-background;
      }
    }
    span:hover {
      cursor: default;
    }
  }

  .fa-bars {
    position: absolute;
    top: -1px;
    right: 10px;
    font-size: 2rem;
    opacity: 0;
    @media screen and (min-width: 700px) {
      display: none;
    }
    // border: 1px solid white;
  }
}

.hamburger__content {
  transform: translateX(100%);
  z-index: -100;
  @include globals.flex-column-center();
  justify-content: space-evenly;
  height: 100vh;
  width: 100vw;
  position: fixed;
  color: globals.$white-primary;
  top: 0;
  right: 0;
  background-color: rgb(46, 45, 45);
  background-color: globals.$editor-background;
  transition: transform 0.3s;
  // border-left: 1px solid lime;

  .fa-times {
    // @include hamburger;
    // fill: $grey-primary;
    font-size: 2rem;
    position: absolute;
    top: 5px;
    right: 10px;
    color: globals.$white-primary;
    z-index: 100;
  }
  .sky-placeholder {
    background: linear-gradient(to bottom, deepskyblue, rgb(46, 45, 45));
    background: globals.$editor-background;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 80;
    height: 30vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .circle {
      height: 150px;
      width: 150px;
      border-radius: 50%;
      background: linear-gradient(to right, globals.$blue-primary, deeppink);
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      &::after {
        content: "";
        position: absolute;
        height: 90%;
        width: 90%;
        border-radius: 50%;
        background-color: globals.$editor-background;
      }
    }
  }

  .hamburger__content--menu {
    height: 70vh;
    width: 100%;
    @include globals.flex-column-center();
    justify-content: space-evenly;
    position: absolute;
    top: 25%;
    // border: 1px solid red;
  }
  a {
    color: globals.$white-primary;
  }
  .hamburger__content--title {
    font-family: hemihead;
    font-size: 2.25rem;
  }
  .hamburger__content--links {
    @include globals.flex-column-center;
    justify-content: space-between;
    height: 30%;
    width: 60%;
    font-family: menlo;
    font-size: 1rem;
    line-height: 1.25rem;
    a {
      border-bottom: 1px solid globals.$blue-primary;
    }
  }
  .hamburger__content--socialicons {
    @include globals.flex-column-center();
    justify-content: space-evenly;
    height: 20%;
    font-family: "courier new";
    font-size: 1rem;
    padding-top: 3vh;
  }
  .social__icons--container {
    width: 100vw;
    font-family: play;
    font-size: 1rem;
    display: flex;
    justify-content: space-evenly;
    padding-top: 3.25vh;
    // border: 1px solid tomato;

    i {
      font-size: 2.5rem;
    }
  }
  @media screen and (min-width: 700px) {
    display: none;
  }
}
