@use "globals";
///////////////////////////////////////////////////////////////////////////////////////////////
//                                     PROJECTS
//////////////////////////////////////////////////////////////////////////////////////////////

#projects {
  width: 100%;
  padding-bottom: 30px;

  .projects-wrapper {
    height: 100%;
    @include globals.flex-column-center;
    gap: 20px;
    list-style-type: none;
    position: relative;
    padding-top: 30px;
    // border: 1px solid white;
    @media screen and (min-width: 768px) {
      padding-top: 60px;
    }

    .project {
      height: 210px;
      width: 100%;
      color: globals.$white-primary;
      background-color: globals.$editor-foreground;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
      transition: all 200ms;
      position: relative;
      // border: 10px solid pink;
      @media screen and (min-width: 768px) {
        height: 220px;
        width: 100%;
        max-width: 1000px;
        color: globals.$editor-background;
        padding-left: 1vw;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        &:hover {
          .thumbnail:after {
            opacity: 0;
          }
        }
      }
      .fa-expand-alt {
        display: none;
        position: absolute;
        right: 1.5vw;
        top: 2vh;
        font-size: 1.5rem;
        color: globals.$white-primary;
        transition: transform 200ms;
        z-index: 5;
        &:hover {
          cursor: pointer;
          transform: scale(1.1);
        }
        @media screen and (min-width: 768px) {
          color: globals.$grey-primary;
        }
      }
      .thumbnail {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        object-fit: cover;
        z-index: 3;
        // border: 1px solid pink;

        @media screen and (min-width: 768px) {
          height: 190px;
          width: 320px;
          position: relative;
          filter: none;
        }
        img {
          height: 100%;
          object-fit: cover;
          @media screen and (min-width: 768px) {
            height: 190px;
            width: 310px;
            // border: 1px solid $white-primary;
          }
        }
      }
      .pitch-container {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        color: globals.$editor-foreground;
        font-weight: bold;
        z-index: 4;
        // border: 1px solid red;
        @media screen and (min-width: 768px) {
          position: relative;
          display: flex;
          color: globals.$editor-background;
          font-weight: normal;
          align-items: flex-start;
          justify-content: space-evenly;
          padding: 0 20px 20px 20px;
        }
        .project-title {
          font-family: globals.$font-primary;
          white-space: nowrap;
          background-color: black;
          @media screen and (min-width: 768px) {
            font-size: 1.5rem;
            background-color: transparent;
          }
          @media screen and (min-width: 1400px) {
            font-size: 1.6rem;
            background-color: transparent;
          }
        }
        .pitch {
          font-family: play;
          font-size: 1rem;
          background-color: black;
          @media screen and (min-width: 768px) {
            background-color: transparent;
          }
          @media screen and (min-width: 1400px) {
            font-size: 1.1rem;
            background-color: transparent;
          }
        }
        .technologies {
          font-family: "courier new", sans-serif;
          font-weight: normal;
          background-color: black;
          @media screen and (min-width: 768px) {
            background-color: transparent;
          }
        }
      }
      .project-links {
        width: 110px;
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: white;
        padding: 0 10px 10px;
        z-index: 50;
        // border: 1px solid red;
        @media screen and (min-width: 768px) {
          left: auto;
          right: 0;
          padding: 0 20px 10px 10px;
        }
        a {
          @include globals.flex-column-center();
          color: globals.$white-primary;
          // transition: transform 0.2s;
          // border: 1px solid red;
          &:hover {
            cursor: pointer;
            background-color: transparent;
          }
          i {
            font-size: 2rem;
          }
          .project-live,
          .project-github {
            font-size: 0.9rem;
            align-self: center;
            text-decoration: underline;
          }
          .inactive {
            color: gray;
            text-decoration: none;
          }
        }
      }
      @media screen and (min-width: 768px) {
        a :nth-child(1),
        span {
          color: red;
        }
        &:nth-child(2) {
          .project-links a {
            color: deeppink;
          }
        }
        &:nth-child(3) {
          .project-links a {
            color: deepskyblue;
          }
        }
        &:nth-child(4) {
          .project-links a {
            color: #fb4768da;
          }
        }
        &:nth-child(5) {
          .project-links a {
            color: globals.$editor-background;
          }
        }
      }
      .clone {
        position: absolute;
        z-index: 5000;
      }
    }
  }
}
