@use "globals";
///////////////////////////////////////////////////////////////////////////////////////////////
//                                           STACK
///////////////////////////////////////////////////////////////////////////////////////////////

#stack {
  height: 55vh;
  width: 100%;
  font-family: play;
  font-size: 0.8rem;
  line-height: 1.2rem;
  letter-spacing: 1px;
  color: globals.$editor-foreground;
  // border: 1px solid red;
  @media screen and (min-width: 768px) {
    min-height: 450px;
    font-size: 1rem;
  }
  @media screen and (min-width: 1400px) {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }

  .stack-container {
    height: 100%;
    width: 100%;
    @include globals.flex-column-center;
    align-items: center;
    justify-content: space-evenly;
    // gap: 50px;
    // border: 10px solid white;

    ul {
      width: 100%;
      list-style-type: none;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      color: globals.$white-primary;
      @media screen and (min-width: 768px) {
        justify-content: space-around;
      }
    }
    .stacklist-wrapper {
      width: 100%;
      min-height: 200px;
      @include globals.flex-column-center;
      display: none;
      align-items: center;
      justify-content: space-evenly;
      gap: 20px;
      // border: 1px solid yellow;
      @media screen and (min-width: 768px) {
        justify-content: flex-start;
        gap: 30px;
      }
      @media screen and (min-width: 1024px) {
        justify-content: flex-start;
        gap: 30px;
      }

      p {
        width: 100%;
        min-height: 120px;
        text-align: left;
        // padding: 20px 5px 0 0;
        // border: 1px solid red;
        @media screen and (min-width: 768px) {
          width: 70%;
          // padding: 40px 5px 0 0;
        }
      }
    }
    .tabs__container {
      width: 100%;
      position: relative;
      border-bottom: 1px solid globals.$grey-primary;
      // border: 1px solid red;
      @media screen and (min-width: 768px) {
        width: 70%;
      }
      .tabs__line {
        position: absolute;
        bottom: -1.5px;
        left: 0;
        background-color: globals.$blue-primary;
        height: 2px;
        width: calc(100% / 3);
        transition: left 0.4s;
      }
      .tabs__ul {
        width: 100%;
        font-size: 0.9rem;
        // border: 1px solid red;

        .tab {
          width: calc(100% / 3);
          padding: 5px 2px;
          color: globals.$editor-foreground;
          text-align: center;
          // border: 1px solid red;
          @media screen and (min-width: 768px) {
            font-size: 1.1rem;
          }
          @media screen and (min-width: 1300px) {
            font-size: 1.2rem;
          }
          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    .tab.active {
      width: calc(100% / 3);
      color: globals.$blue-primary;
      // background-color: globals.$grey-primary;
    }

    .tab__content.active {
      display: flex;
    }
  }

  .stack__left,
  .stack__middle,
  .stack__right {
    height: 50px;
    width: min-content;
    max-width: 500px;
    justify-content: center;
    // border: 1px solid red;
    // border: 1px solid globals.$blue-primary;
    // border-radius: globals.$border-radius;
  }
  .stack__left {
    li {
      i {
        font-size: 1.5rem;
        @media screen and (min-width: 768px) {
          font-size: 2.2rem;
        }
      }
    }
    &:hover {
      &::before {
        background-color: gray;
      }
      i {
        background-color: transparent;
      }
      li:nth-child(1) {
        i {
          color: #e44d26;
        }
      }
      li:nth-child(2) {
        i {
          color: #cd6799;
        }
      }
      li:nth-child(3) {
        i {
          color: #ffff00;
        }
      }
      li:nth-child(4) {
        i {
          color: #61dbfb;
        }
      }
      li:nth-child(5) {
        i {
          color: #3c873a;
        }
      }
      li:nth-child(6) {
        i {
          color: lightgrey;
        }
      }
    }
  }
  .stack__middle {
    #vscode {
      fill: #0078d7;
    }
    #webpack {
      fill: #8ed6fb;
    }
  }
}
