@use "globals";
@use "fonts";
@use "navbar";
@use "home";
@use "about";
@use "stack";

///////////////////////////////////////////////////////////////////////////////////////////////
//                                    HTML / BODY
///////////////////////////////////////////////////////////////////////////////////////////////
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*a {
  text-decoration: none;
}

html {
  font-size: 16px;
  height: 100%;
  overflow-x: hidden;
}

body {
  min-height: 100%;
  width: 100%;
  background-color: globals.$editor-background;
  overflow-x: hidden;
  color: globals.$white-primary;
  // border: 1px solid red;
  .body-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: transparent;
    position: relative;
    // border: 1px solid yellow;
  }
}

.main__container {
  position: relative;
  // border: 10px solid red;
  @media screen and (min-width: 700px) {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 10px;
      background-color: globals.$grey-primary;
      z-index: 50;
      @media screen and (min-width: 1300px) {
        width: 100px;
      }
    }
  }
}

.loader__container {
  display: none;
  height: 100vh;
  width: 100vw;
  background-color: globals.$editor-background;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  .loader {
    height: 300px;
    width: 300px;
    border-top: 2px solid blueviolet;
    border-right: 2px solid #ad2ae90c;
    border-bottom: 2px solid #ad2ae90c;
    border-left: 2px solid blueviolet;
    border-radius: 50%;
    animation: border 1s infinite ease-in-out;
    @keyframes border {
      to {
        transform: rotate(360deg);
      }
    }
  }
}

.fullpage {
  background-color: rgba(128, 128, 128, 0.739);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  .fullpage__container {
    @include globals.flex-column-center;
    justify-content: space-evenly;
    position: absolute;
    height: 90%;
    width: 80%;
    z-index: 1000;
    color: black;
    background-color: globals.$white-primary;
    // border: 1px solid black;

    .img__container {
      height: 30%;
      width: 90%;
      // border: 2px solid tomato;
      // background: no-repeat center/contain;
      @media screen and (min-width: 600px) {
        height: 300px;
        width: 1000px;
        background-size: contain;
      }
      @media screen and (min-width: 1300px) {
        height: 400px;
        width: 1300px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }

      .fullpage__img {
        height: 100%;
        width: 100%;
        display: none;
      }
      .fullpage__img--active {
        display: block;
      }
    }
    .player__wrapper {
      width: 80px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 1rem;
      // border: 1px solid pink;
      @media screen and (min-width: 600px) {
        font-size: 1.5rem;
      }
      @media screen and (min-width: 1300px) {
        font-size: 2rem;
        width: 120px;
      }
    }

    .fullpage__pitch--container {
      height: 65%;
      padding: 0 10vw;
      @include globals.flex-column-center();
      align-items: flex-start;
      justify-content: space-around;
      border-top: 1px solid rgba(0, 0, 0, 0.068);
      @media screen and (min-width: 700px) {
        height: 35%;
      }
      @media screen and (min-width: 1300px) {
        height: 25%;
      }

      h3 {
        font-family: hemihead;
        font-size: 2rem;
      }
      .fullpage__pitch {
        font-family: "courier new";
        font-size: 1rem;
      }
      .fullpage__stack {
        font-family: menlo;
        font-size: 1rem;
      }

      .fullpage__links {
        width: 12%;
        display: flex;
        justify-content: space-between;
        .fullpage__github {
          i {
            font-size: 2.5rem;
          }
        }
        i {
          font-size: 2rem;
          color: globals.$editor-background;
        }
      }
    }
  }
  .fa-times {
    font-size: 3rem;
    color: globals.$white-primary;
    position: absolute;
    right: -30px;
  }
}

///////////////////////////////////////////////////////////////////////////////////////////////
//                                           TAG
///////////////////////////////////////////////////////////////////////////////////////////////

.tag {
  height: 18px;
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 1vw;
  font-family: menlo;
  font-size: 0.75rem;
  text-align: left;
  color: globals.$blue-primary;
  background-color: globals.$editor-background;
  z-index: 50;
  // border: 1px solid pink;
  @media screen and (min-width: 700px) {
    border-color: transparent;
  }
}

///////////////////////////////////////////////////////////////////////////////////////////////
//                                           MAIN
///////////////////////////////////////////////////////////////////////////////////////////////

main {
  width: 100%;
  // @include globals.section;
  display: grid;
  grid-template-rows: globals.$info-height globals.$projects-height min-content globals.$more-height globals.$contact-height;
  grid-template-columns: 75% 25%;
  grid-row-gap: 1em;
  background-color: globals.$editor-background;
  justify-items: center;
  position: relative;
  z-index: 10;
  // border: 5px solid tomato;

  ///////////////////////////////////////////////////////////////////////////////////////////////
  //                                           CTA BUTTONS
  ///////////////////////////////////////////////////////////////////////////////////////////////
  .cta {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: globals.$editor-background;
    // border: 1px solid white;
  }

  .cta-btn-download,
  .cta-btn-contact {
    height: 30px;
    width: 160px;
    font-family: "play";
    font-size: 1.1rem;
    font-weight: light;
    background-color: globals.$editor-background;
    outline: none;
    background-color: globals.$editor-background;
    color: aqua;
    border: 0.15em solid aqua;
    border-radius: globals.$border-radius;
    transition: background-color 0.2s;
    &:hover {
      cursor: pointer;
      color: globals.$editor-background;
      background-color: aqua;
    }
  }

  ///////////////////////////////////////////////////////////////////////////////////////////////
  //                                          INFO - TITLE
  ///////////////////////////////////////////////////////////////////////////////////////////////
  #info {
    grid-row: 1;
    grid-column: 1/3;
    width: 100%;
    position: relative;
    @include globals.flex-column-center();
    gap: 30px;
    padding: 30px 0;
    // border: 1px solid blue;
    // @media screen and (min-width: 1200px) {
    //   gap: 3em;
    // }
    .title {
      width: 90%;
      height: min-content;
      @include globals.flex-column-center;
      justify-content: center;
      font-family: globals.$font-primary;
      font-size: 1rem;
      // color: rgb(171, 170, 170);
      // border: 1px solid white;
      @media screen and (min-width: 700px) {
        width: 60%;
        font-size: 1.75rem;
      }
      .title__upper,
      .title__lower {
        padding: 0 1.5vw 0.15vh;
        white-space: nowrap;
        transition: transform 500ms;
      }

      .title__upper {
        align-self: flex-start;
        // transform: translateX(6vw);
        // animation: translationL 7s infinite alternate ease-in;
        @keyframes translationL {
          to {
            transform: translateX(110%);
          }
        }
      }
      .title__lower {
        align-self: flex-end;
        // transform: translateX(-6vw);
        // animation: translationR 7s infinite alternate ease-in;
        @keyframes translationR {
          to {
            transform: translateX(-110%);
          }
        }
      }
      .line {
        height: 1px;
        width: 100%;
        background: linear-gradient(
          to left,
          rgb(87, 213, 255) 0%,
          globals.$blue-primary 100%
        );
      }
      &:hover {
        .line {
          background: blueviolet;
        }
      }
    }

    ///////////////////////////////////////////////////////////////////////////////////////////////
    //                                     GIF
    ///////////////////////////////////////////////////////////////////////////////////////////////

    // .gif {
    //   position: absolute;
    //   left: 76%;
    //   top: 27vh;
    //   border-radius: 50%;
    //   height: 200px;
    //   width: 220px;
    //   .facegif {
    //     height: 195px;
    //     width: 215px;
    //     border-radius: 50%;
    //     border: 1px solid blueviolet;
    //   }
    //   @media screen and (min-width: 1300px) {
    //     left: 78%;
    //     top: 30vh;
    //   }
    // }
  }

  ///////////////////////////////////////////////////////////////////////////////////////////////
  //                                     PROJECTS
  //////////////////////////////////////////////////////////////////////////////////////////////

  #projects {
    grid-row: 2;
    grid-column: 1/3;
    width: 95%;
    padding: 2em 0;
    // border: 5px solid yellow;

    .projects-wrapper {
      height: 100%;
      @include globals.flex-column-center;
      gap: 20px;
      list-style-type: none;
      position: relative;

      .project {
        height: 210px;
        width: 90vw;
        color: globals.$white-primary;
        background-color: globals.$editor-foreground;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        transition: all 200ms;
        position: relative;
        // padding: 1vh 1vw;
        // border: 10px solid pink;
        @media screen and (min-width: 700px) {
          height: 220px;
          width: 80%;
          max-width: 1100px;
          color: globals.$editor-background;
          padding-left: 1vw;
          flex-direction: row;
          align-items: center;
          justify-content: space-evenly;
          &:hover {
            .thumbnail:after {
              opacity: 0;
            }
          }
        }
        .fa-expand-alt {
          display: none;
          position: absolute;
          right: 1.5vw;
          top: 2vh;
          font-size: 1.5rem;
          color: globals.$white-primary;
          transition: transform 200ms;
          z-index: 5;
          &:hover {
            cursor: pointer;
            transform: scale(1.1);
          }
          @media screen and (min-width: 700px) {
            color: globals.$grey-primary;
          }
        }
        .thumbnail {
          height: 100%;
          width: 100%;
          display: flex;
          flex-direction: column;
          filter: contrast(1) brightness(60%);
          // mix-blend-mode: multiply;
          position: absolute;
          top: 0;
          z-index: 3;
          // border: 1px solid pink;
          &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            mix-blend-mode: screen;
            z-index: 2;
            background-color: rgba(184, 184, 184, 0.582);
            transition: all 0.5s;
          }
          @media screen and (min-width: 700px) {
            height: 190px;
            width: 320px;
            position: relative;
            filter: none;

            &::after {
              display: none;
            }
          }
          img {
            height: 100%;
            width: 100%;
            @media screen and (min-width: 700px) {
              height: 190px;
              width: 310px;
              // border: 1px solid $white-primary;
            }
          }
        }
        .pitch-container {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          padding: 0 20px 20px 20px;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-evenly;
          color: globals.$white-primary;
          font-weight: bold;
          z-index: 4;
          // border: 1px solid $white-primary;
          @media screen and (min-width: 700px) {
            position: relative;
            display: flex;
            color: black;
            font-weight: normal;
          }
          .project-title {
            font-family: globals.$font-primary;
            @media screen and (min-width: 700px) {
              font-size: 1.5rem;
            }
          }
          .pitch {
            font-family: play;
            font-size: 1rem;
          }
          .technologies {
            font-family: "courier new", sans-serif;
            font-weight: normal;
          }
          .project-links {
            width: 80px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: white;
            align-self: flex-end;
            // border: 1px solid red;
            a {
              // text-decoration: none;
              color: globals.$white-primary;
              transition: transform 0.2s;
              // border: 1px solid red;
              &:hover {
                cursor: pointer;
                background-color: transparent;
                // transform: scale(1.1);
              }

              i {
                // text-decoration: none;
                font-size: 2rem;
              }
              .project-live,
              .project-github {
                position: absolute;
                bottom: 10px;
                transform: translateX(-130%);
                font-size: 0.9rem;
                text-decoration: underline;
              }
              .project-github {
                transform: translateX(-85%);
              }
              .inactive {
                color: gray;
                // text-decoration: none;
                // transform: translateY(1px);
              }
            }
          }
          @media screen and (min-width: 700px) {
            // & {
            a :nth-child(1),
            span {
              color: red;
            }
            // }
            &:nth-child(2) {
              .project-links a {
                color: deeppink;
              }
            }
            &:nth-child(3) {
              .project-links a {
                color: deepskyblue;
              }
            }
            &:nth-child(4) {
              .project-links a {
                color: #fb4700da;
              }
            }
            &:nth-child(5) {
              .project-links a {
                color: globals.$editor-background;
              }
            }
          }
        }
        // @media screen and (min-width: 700px) {
        //   &:hover {
        //     transform: rotateX(180deg);
        //     perspective: 100px;
        //   }
        // }
        .clone {
          // background-color: tomato;
          position: absolute;
          z-index: 5000;
        }
      }
    }
  }

  #about,
  #stack,
  #projects {
    @media screen and (min-width: 1300px) {
      width: 80%;
    }
  }

  .cta-download {
    grid-row: 3;
    grid-column: 1/3;
    // border: 1px solid greenyellow;
  }
  ///////////////////////////////////////////////////////////////////////////////////////////////
  //                                     MORE
  ///////////////////////////////////////////////////////////////////////////////////////////////

  #more {
    grid-row: 4;
    grid-column: 1/3;
    // border: 1px solid orange;
    .more-container {
      &::before,
      &::after {
        display: none;
      }
    }
    .more-wrapper {
      height: 100%;
      color: white;
      @include globals.flex-column-center;
      justify-content: center;
      #canvas {
        border: 1px solid grey;
        background-color: black;
        &:hover {
          cursor: pointer;
          border: 1px solid globals.$white-primary;
        }
      }
      #canvas {
        height: 150px;
        width: 90vw;
        @media screen and (min-width: 700px) {
          width: 1200px;
        }
      }
    }
  }

  ///////////////////////////////////////////////////////////////////////////////////////////////
  //                                   CONTACT
  ///////////////////////////////////////////////////////////////////////////////////////////////
  #contact {
    grid-row: 5;
    grid-column: 1/3;
    height: globals.$contact-height;
    width: 100%;
    .contact-wrapper {
      width: inherit;
      height: inherit;
      background-color: globals.$editor-background;
      margin: 0 7vw;
      // border: 1px solid turquoise;
    }
  }
}

///////////////////////////////////////////////////////////////////////////////////////////////
//                                      FOOTER
///////////////////////////////////////////////////////////////////////////////////////////////
footer {
  height: globals.$footer-height;
  font-family: "courier new";
  font-size: 0.75rem;
  // white-space: nowrap;
  color: grey;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 10px;
  // border-top: 5px solid yellow;
  @media screen and (min-width: 1300px) {
    width: 100vw;
  }
}
