@use "globals";
@use "fonts";
@use "navbar";
@use "home";
@use "about";
@use "stack";
@use "projects";

///////////////////////////////////////////////////////////////////////////////////////////////
//                                    HTML / BODY
///////////////////////////////////////////////////////////////////////////////////////////////
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*a {
  text-decoration: none;
}

html {
  font-size: 16px;
  height: 100%;
  overflow-x: hidden;
}

body {
  min-height: 100%;
  width: 100%;
  background-color: globals.$editor-background;
  overflow-x: hidden;
  color: globals.$white-primary;
  position: relative;
  // border: 1px solid red;

  ///////////////////////////////////////////////////////////////////////////////////////////////
  //                                           LINK BARS LEFT & RIGHT
  ///////////////////////////////////////////////////////////////////////////////////////////////

  .margin__left,
  .margin__right {
    display: none;
  }
  @media screen and (min-width: 1024px) {
    .margin__left,
    .margin__right {
      height: 310px;
      width: 30px;
      @include globals.flex-column-center();
      justify-content: center;
      gap: 20px;
      position: fixed;
      bottom: 0;
      left: 5%;
      transform: translateX(-50%);
      border-top: 1px solid transparent;
      border-left: 1px solid transparent;
      border-right: 1px solid transparent;
      border-radius: globals.$border-radius;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      background: globals.$grey-primary;
      transition: all 200ms;
      &:hover {
        cursor: pointer;
        color: globals.$white-primary;
        border-color: globals.$blue-primary;
        .link-wrapper i {
          color: globals.$white-primary;
        }
      }
      &::after {
        content: "";
        height: 100%;
        width: 100%;
        background: globals.$gradient;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
      }
    }
    .margin__left {
      justify-content: space-evenly;
      &:hover {
        cursor: default;
      }
      .link-wrapper {
        display: none;
        list-style-type: none;
        background: globals.$grey-primary;
        @media screen and (min-width: 768px) {
          height: 99%;
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;
        }
        .link {
          height: 100%;
          width: 100%;
          padding: 5px;
          // border: 1px solid yellow;
          @include globals.flex-column-center;
          justify-content: flex-end;
          opacity: 1;
          text-decoration: none;
          transition: all 200ms;
          i {
            font-size: 1rem;
            transition: all 200ms;
            color: rgba(255, 255, 255, 0.5);
          }
          &:hover {
            cursor: pointer;
            transform-origin: center;
            i {
              color: globals.$blue-primary;
            }
          }
        }
      }
    }
    .margin__right {
      left: 95%;
      text-transform: uppercase;
      font-size: 0.8rem;
      font-family: play;
      color: rgba(255, 255, 255, 0.5);
      .mail-link {
        height: 99%;
        width: 98%;
        @include globals.flex-column-center();
        background: globals.$grey-primary;
        margin: 0 auto;
        // border: 1px solid yellow;
        // span {
        //   background: globals.$grey-primary;
        // }
      }
    }
  }

  .body-container {
    width: 100%;
    margin: 0 auto;
    @include globals.flex-column-center();
    justify-content: space-evenly;
    background-color: transparent;
    position: relative;
    padding: 0 10px;
    // border: 1px solid yellow;
    @media screen and (min-width: 1024px) {
      width: 80%;
    }
  }
}

.main__container {
  position: relative;
  min-width: 300px;
  width: 100%;
  max-width: 1300px;
  // border: 2px solid red;
  @media screen and (min-width: 768px) {
    width: 80%;
  }
}

///////////////////////////////////////////////////////////////////////////////////////////////
//                                        LOADER
///////////////////////////////////////////////////////////////////////////////////////////////

.loader__container {
  display: none;
  height: 100vh;
  width: 100vw;
  background-color: globals.$editor-background;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  .loader {
    height: 300px;
    width: 300px;
    border-top: 2px solid blueviolet;
    border-right: 2px solid #ad2ae90c;
    border-bottom: 2px solid #ad2ae90c;
    border-left: 2px solid blueviolet;
    border-radius: 50%;
    animation: border 1s infinite ease-in-out;
    @keyframes border {
      to {
        transform: rotate(360deg);
      }
    }
  }
}

///////////////////////////////////////////////////////////////////////////////////////////////
//                                           TAG
///////////////////////////////////////////////////////////////////////////////////////////////

.tag {
  width: inherit;
  font-family: play;
  font-size: 1rem;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
  // color: globals.$blue-primary;
  // color: globals.$editor-foreground;
  color: globals.$white-primary;
  white-space: nowrap;
  position: relative;
  background-color: globals.$grey-primary;
  border-radius: globals.$border-radius;
  padding: 5px 20px;
  @media screen and (min-width: 768px) {
    font-size: 1.1rem;
  }
  // .tag-after {
  //   height: 2px;
  //   width: 100%;
  //   // background-color: #929595;
  //   background: globals.$grey-primary;
  //   position: absolute;
  //   right: 0;
  //   bottom: 0;
  //   // border: dashed 1px globals.$white-primary;
  // }
}
.tag-projects {
  text-align: center;
}
///////////////////////////////////////////////////////////////////////////////////////////////
//                                           MAIN
///////////////////////////////////////////////////////////////////////////////////////////////

main {
  width: 100%;
  background-color: globals.$editor-background;
  position: relative;
  // border: 5px solid tomato;

  ///////////////////////////////////////////////////////////////////////////////////////////////
  //                                           CTA BUTTONS
  ///////////////////////////////////////////////////////////////////////////////////////////////

  .cta {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: globals.$editor-background;
    // border: 1px solid white;
  }
  .cta-btn-more,
  .cta-btn-download,
  .cta-btn-contact {
    font-family: play;
    font-size: 1rem;
    color: globals.$blue-primary;
    padding: 5px 10px;
    outline: none;
    background-color: globals.$editor-background;
    border: 1px solid globals.$blue-primary;
    border-radius: globals.$border-radius;
    transition: background-color 0.2s;
    &:hover {
      cursor: pointer;
      color: globals.$editor-background;
      background-color: globals.$blue-primary;
    }
    @media screen and (min-width: 1400px) {
      font-size: 1.1rem;
    }
  }

  ///////////////////////////////////////////////////////////////////////////////////////////////
  //                                          INFO - TITLE
  ///////////////////////////////////////////////////////////////////////////////////////////////

  #info {
    height: 100%;
    min-height: 500px;
    width: 100%;
    position: relative;
    @include globals.flex-column-center();
    align-items: flex-start;
    font-size: 1rem;
    // border: 1px solid blue;
  }

  ///////////////////////////////////////////////////////////////////////////////////////////////
  //                                     MORE
  ///////////////////////////////////////////////////////////////////////////////////////////////

  #more {
    // border: 1px solid orange;
    .more-container {
      &::before,
      &::after {
        display: none;
      }
    }
    .more-wrapper {
      height: 100%;
      color: white;
      @include globals.flex-column-center;
      justify-content: center;
      #canvas {
        border: 1px solid grey;
        background-color: black;
        &:hover {
          cursor: pointer;
          border: 1px solid globals.$white-primary;
        }
      }
      #canvas {
        height: 100px;
        width: 95vw;
        margin-top: 30px;
        @media screen and (min-width: 768px) {
          height: 150px;
          width: calc(80vw - 100px);
        }
      }
    }
  }

  ///////////////////////////////////////////////////////////////////////////////////////////////
  //                                   CONTACT
  ///////////////////////////////////////////////////////////////////////////////////////////////

  #contact {
    height: globals.$contact-height;
    width: 100%;
    .contact-container {
      width: inherit;
      height: inherit;
      @include globals.flex-column-center();
      background-color: globals.$editor-background;
      // border: 1px solid turquoise;
      justify-content: center;

      .form-container {
        @include globals.flex-column-center();
        display: none;
        align-items: flex-start;
        justify-content: center;
        position: relative;
        bottom: -5%;
        gap: 40px;
        height: 80%;
        width: 90%;
        font-family: "Courier new";
        // border: 1px solid turquoise;
        outline: none;
        @media screen and (min-width: 768px) {
          height: 80%;
          width: 70%;
        }
        label {
          height: 30px;
          padding: 0 10px;
          @include globals.flex-column-center();
          justify-content: center;
          white-space: nowrap;
          color: globals.$editor-foreground;
          background-color: globals.$grey-primary;
          border-radius: globals.$border-radius;
        }
        input {
          outline: none;
          font-family: "Courier new";
          background-color: globals.$editor-foreground;
          border: 1px solid transparent;
          transition: all 200ms;
          &:hover {
            border-color: globals.$blue-primary;
          }
        }
        .email-container {
          @include globals.flex-column-center();
          align-items: flex-start;
          gap: 10px;

          #contact__email {
            width: 250px;
            height: 30px;
            border-radius: globals.$border-radius;
          }
        }
        .msg-container {
          height: 100%;
          width: 100%;
          @include globals.flex-column-center();
          align-items: flex-start;
          gap: 10px;
          #contact__msg {
            width: 100%;
            height: 100%;
            border-radius: globals.$border-radius;
          }
        }

        button {
          padding: 5px 20px;
          font-size: 1rem;
          font-family: "Courier new";
          align-self: center;
        }
      }
    }
  }
}

///////////////////////////////////////////////////////////////////////////////////////////////
//                                      FOOTER
///////////////////////////////////////////////////////////////////////////////////////////////

footer {
  height: globals.$footer-height;
  font-family: "courier new";
  font-size: 0.75rem;
  white-space: nowrap;
  color: grey;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  // border-top: 5px solid yellow;
}

///////////////////////////////////////////////////////////////////////////////////////////////
//                                           PROJECT FULLPAGE
///////////////////////////////////////////////////////////////////////////////////////////////

.fullpage {
  background-color: rgba(128, 128, 128, 0.739);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  .fullpage__container {
    @include globals.flex-column-center;
    justify-content: space-evenly;
    position: absolute;
    height: 90%;
    width: 80%;
    z-index: 1000;
    color: black;
    background-color: globals.$white-primary;
    // border: 1px solid black;

    .img__container {
      height: 30%;
      width: 90%;
      // border: 2px solid tomato;
      @media screen and (min-width: 600px) {
        height: 300px;
        width: 1000px;
        background-size: contain;
      }
      @media screen and (min-width: 1300px) {
        height: 400px;
        width: 1300px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
      }

      .fullpage__img {
        height: 100%;
        width: 100%;
        display: none;
      }
      .fullpage__img--active {
        display: block;
      }
    }
    .player__wrapper {
      width: 80px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 1rem;
      // border: 1px solid pink;
      @media screen and (min-width: 600px) {
        font-size: 1.5rem;
      }
      @media screen and (min-width: 1300px) {
        font-size: 2rem;
        width: 120px;
      }
    }

    .fullpage__pitch--container {
      height: 65%;
      padding: 0 10vw;
      @include globals.flex-column-center();
      align-items: flex-start;
      justify-content: space-around;
      border-top: 1px solid rgba(0, 0, 0, 0.068);
      @media screen and (min-width: 768px) {
        height: 35%;
      }
      @media screen and (min-width: 1300px) {
        height: 25%;
      }

      h3 {
        font-family: hemihead;
        font-size: 2rem;
      }
      .fullpage__pitch {
        font-family: "courier new";
        font-size: 1rem;
      }
      .fullpage__stack {
        font-family: menlo;
        font-size: 1rem;
      }

      .fullpage__links {
        width: 12%;
        display: flex;
        justify-content: space-between;
        .fullpage__github {
          i {
            font-size: 2.5rem;
          }
        }
        i {
          font-size: 2rem;
          color: globals.$editor-background;
        }
      }
    }
  }
  .fa-times {
    font-size: 3rem;
    color: globals.$white-primary;
    position: absolute;
    right: -30px;
  }
}
