.navbarContainer {
  width: 100%;
  height: 4rem;
  background: white;
  grid-row: 1;
  background: var(--navbar-bg-color);
  color: var(--text-color-dark);
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  list-style-type: none;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid yellow;
}

.navbar > * a {
  text-decoration: none;
  color: var(--text-color-dark);
}
